[2017-08-24 16:42] mdymczyk opened #14 "RandomForest wrapper"
* Add a `RandomForest` wrapper, API should resemble SciKit-Learn's [RandomForestRegressor](http://scikit-learn.org/stable/modules/generated/sklearn.ensemble.RandomForestRegressor.html) and [RandomForestClassifier](http://scikit-learn.org/stable/modules/generated/sklearn.ensemble.RandomForestClassifier.html) (up for discussion)

* Implementation should for now just call XGBoost but be as generic as

[2017-08-24 16:45] mdymczyk opened #15 "GradientBoosting wrapper"
* Add a GradientBoosting wrapper, API should resemble SciKit-Learn's [GradientBoostingRegressor](http://scikit-learn.org/stable/modules/generated/sklearn.ensemble.GradientBoostingRegressor.html) and [GradientBoostingClassifier](http://scikit-learn.org/stable/modules/generated/sklearn.ensemble.GradientBoostingClassifier.html) (up for discussion)

* Implementation should for now just call XGBoost bu

[2017-08-24 16:49] mdymczyk opened #16 "KMeans invalid pointer call."
How to reproduce:

- run `kmeans.fit(X)` first using `kmeans` object with 1 GPU, then twice (or more) with 2 GPUs.

Error:

`GPUassert: invalid device pointer gpu/include/kmeans_labels.h 170`

Seems like we are deallocating something too fast or not checking if every pointer we use got properly allocated.

[2017-08-24 16:55] pseudotensor opened #17 "KMeans minibatch"
As in sklearn

[2017-08-24 16:58] mdymczyk opened #18 "Review licensing"
Make sure all the license/legal related notes are in place (in the README, LICENSE and code files).

[2017-08-24 16:59] pseudotensor opened #19 "subkmeans for improved handling of high-dimensional data"
![image](https://user-images.githubusercontent.com/2249614/29678297-df445760-88b2-11e7-9fcc-f4db8801a590.png)

[2017-08-24 17:00] mdymczyk opened #20 "KMeans documentation"
Add docs.

[2017-08-24 17:03] pseudotensor opened #21 "Jenkins do all make tests"
Separate builds for make test, make testbig, make testperf, make testbigperf .  Jenkins should use dotest, dotestbig, dotestperf, dotestbigperf

[2017-08-24 17:04] pseudotensor opened #22 "Jenkins TV board for accuracy and speed of h2o4gpu"
For all of glm vs. h2o-3, kmeans vs sklearn/Intel daal, xgboost vs. lightgbm

[2017-08-24 17:05] mdymczyk opened #23 "GLM documentation"
Add docs.

[2017-08-24 17:05] pseudotensor opened #24 "Add feature: COD for GPU GLM"

[2017-08-24 17:06] mdymczyk opened #25 "KMeans DAAL implementation."
Implement KMeans on DAAL, preferably in C++ so it's accessible in Python and R.

[2017-08-24 17:06] pseudotensor opened #26 "GLM wrappers for sklearn"

[2017-08-24 17:09] mdymczyk opened #27 "KMeans R API"

[2017-08-24 17:09] mdymczyk opened #28 "GLM R API"

[2017-08-24 17:10] mdymczyk opened #29 "Implement linear and general SVM"
* CUDA implementation takes priority. Then Python API, C++ and R.

* Add unit tests

* Add performance tests comparing to other frameworks

[2017-08-24 17:11] pseudotensor opened #30 "GLM not as accurate on MAPD's Wamsi's data set"

[2017-08-24 17:11] mdymczyk opened #31 "Implement PCA"
* CUDA implementation takes priority. Then Python API, C++ and R.

* Add unit tests

* Add performance tests comparing to other frameworks

[2017-08-24 17:13] mdymczyk opened #32 "Implement quantiles regression"

[2017-08-24 17:14] pseudotensor opened #33 "Use Intel DAAL for CPU side of many algorithms"
https://software.intel.com/en-us/intel-daal/details

Algorithms

Data Analysis: Characterization, Summarization, and Transformation

Low Order Moments
Computes the basic dataset characteristics such as sums, means, second order raw moments, variances, standard deviations, etc.

Quantile
Computes quantiles that summarize the distribution of data across equal-sized groups as defined by quantile orde

[2017-08-24 17:14] mdymczyk opened #34 "NCCL Support for multi GPU and multi machine"
TBA

[2017-08-24 17:15] mdymczyk opened #35 "Implement Kalman Filters"

[2017-08-24 17:16] mdymczyk opened #36 "GPU support for MOJO scoring"
Add a GPU backend for tree model scoring (GBM/DRF).

The goal is to increase the throughput for scoring of large datasets (in mini-batch) and for large numbers of trees.

Possibly predict for all possible paths down the tree and pick the "right" path at the end, to avoid branch misprediction issues.

Might be related to the TF MOJO: https://github.com/h2oai/h2oai-prototypes/tree/master/tf-mojo

[2017-08-24 17:16] mdymczyk opened #37 "Improve contributor's guide"
Add a proper contributors guide with details (best practices used in the project, our PR strategy, how to run CI tests, where to find issues etc.)

[2017-08-24 17:18] mdymczyk opened #38 "Improve accuracy of GLM"
Review wamsi's notebook

[2017-08-24 17:18] mdymczyk opened #39 "H2O-3 XGBoost inaccurate"
H2O's fork and DMLC XGboost version mismatch on accuracy.

[2017-08-24 17:18] mdymczyk opened #40 "Multi GPU - Coordinate Descent GPU"
Investigate and (if possible) implement.

[2017-08-24 17:19] mdymczyk opened #41 "Implement PCA"
Add a GPU backend to H2O PCA, by letting the GPU do the SVD, for example here:
https://github.com/h2oai/h2o-3/blob/master/h2o-algos/src/main/java/hex/svd/SVD.java#L325-L325

This could be done via a simple JNI call, similar to the XGBoost/DeepWater integration.

Proof of concept:
https://github.com/arnocandel/cuda-rpca-admm

[2017-08-24 17:19] pseudotensor opened #42 "Sphinx and pillow for automatic documentation like sklearn uses"
https://pillow.readthedocs.io/en/4.2.x/
http://www.sphinx-doc.org/en/stable/

[2017-08-24 17:20] mdymczyk opened #43 "Ying-Yang and other K-Means"
O(N^2) algorithm of K-Means and Nearest Neighbors can be massively accelerated using GPUs.

Proof of concept: https://github.com/arnocandel/kmcuda

[2017-08-24 17:20] mdymczyk opened #44 "Connector to cuDF"
TBA

[2017-08-24 17:20] mdymczyk opened #45 "GPU support for data.table"
Use GPUs as a backend for data.table, to make sorting, grouping and joining faster.
https://github.com/h2oai/h2oai-prototypes/tree/master/sorting

[2017-08-24 17:22] mdymczyk opened #46 "KMeans CUDA code"
* Implementation should be in cpp/cu files mostly

* DRY the code so we don't duplicate it

[2017-08-24 17:23] mdymczyk opened #47 "GLM C++/CUDA code"
* Implementation should be in cpp/cu files mostly

* DRY the code so we don't duplicate it

[2017-08-24 17:25] mdymczyk opened #48 "Logging framework"
Add a proper logging framework for C++ and Python enabling debug prints and (maybe) performance timings.

[2017-08-24 17:25] #38 closed, assigned to nobody

[2017-08-24 17:27] pseudotensor opened #49 "Standard and Truncated SVD"
Standard SVD on GPU is in place without API, but holding until can see how to do truncated SVD.  Also, seems sklearn truncated SVD uses lots of memory despite being truncated -- can one optimize more for memory vs. time?

[2017-08-24 17:34] pseudotensor opened #50 "xgboost isn't properly handling massive-sized data on multiple GPUs"
Fails with NCCL related errors once over 60GB on DGX-1

[2017-08-24 18:05] navdeep-G opened #51 "Progress bar for each solver"
* Would be good to know progress of k-means, glm, etc as it is solving.

[2017-08-24 20:04] pseudotensor opened #52 "Use improved adaptive rho for GLM"
http://www.cs.umd.edu/sites/default/files/scholarly_papers/ZhengXu.pdf
[ZhengXu.pdf](https://github.com/h2oai/h2o4gpu/files/1250098/ZhengXu.pdf)

@pseudotensor already started thinking/implementing, and not hard, just needs time/focus/energy.

[2017-08-24 20:04] pseudotensor opened #53 "Directly solve GLM in case of no regularization"
For now can use sklearn as backup.

[2017-08-24 20:15] pseudotensor opened #54 "Drop to sklearn in case we have no such implementation"
Unsure how to do technically, but should be possible.

[2017-08-24 20:16] pseudotensor opened #55 "automatic lambda_min_ratio search"
Start out at machine precision lambda_min_ratio, and adaptively line-search + bisect to find smallest (say) validation error.

[2017-08-24 20:51] pseudotensor opened #56 "GLM: Pass alpha and lambda as single value, tuple, or list."
And choose what to return for predict or transform (i.e. full path or not) based upon what user inputted.

[2017-08-24 22:12] khevn opened #57 "GLM: pass training data as int (both X and y)"
[code]

gives the following error

[code]

if `X` is float but `y` is integer, no errors are raised but the model doesn't train properly

[code]

the output is

[code]

[2017-08-24 22:18] khevn opened #58 "GLM (all models): should accept integer for model parameters"
`logreg = h2o4gpu.LogisticRegression(alpha_max = 1, alpha_min = 1)`

error:
[code]

while the following works:
`logreg = h2o4gpu.LogisticRegression(alpha_max = 1.0,  alpha_min = 1.0)`

[2017-08-24 22:40] mmalohlava opened #59 "Add necessary open-source artifacts"
We need:

- [x] contribution guidelines
- [x] license file in repo
- [x] licenses of used libraries
- [x] license headers in files
- [x] issue template

See: https://help.github.com/articles/setting-guidelines-for-repository-contributors/

[2017-08-24 23:03] pseudotensor opened #60 "Fix intercept to be like sklearn -- handle simple linear fit"

[2017-08-25 03:11] #16 closed, assigned to mdymczyk

[2017-08-25 18:32] mdymczyk opened #62 "Unify CPU/GPU default count"
KMeans by default uses 1 GPU, GLM uses by default all GPUs.

Both should use all gpus by default.

[2017-08-25 19:35] pseudotensor opened #63 "If input pandas, output should be pandas (i.e. output should have pandas names for columns put back in)"

[2017-08-25 19:43] pseudotensor opened #64 "Document pip install process at top of README and warn that overwrite various packages due to requirements."

[2017-08-25 19:46] pseudotensor opened #65 "Add utility functions to prepare data"

[2017-08-25 19:56] pseudotensor opened #66 "Wamsi says currently GLM only runs on 1 gpu even if more specified."

[2017-08-25 22:47] mdymczyk opened #67 "Improved automatic CPU/GPU selection"
Use simple heuristics (based on data size) when choosing CPU/GPU backend.

[2017-08-25 22:48] mdymczyk opened #68 "Improved backend (CPU/GPU/TPU etc.) selection"
Currently we only support CPU/GPU. Down the road we might need to support TPUs, IPUs etc. This will require a more robust backend handler.

[2017-08-26 01:56] navdeep-G opened #70 "Create smoke tests for all solvers"
* This will be useful to catch errors quickly.

[2017-08-27 07:56] #62 closed, assigned to mdymczyk

[2017-08-28 00:42] mdymczyk opened #71 "Docker image for developers"
Add a devel docker image (first for GPU, then for CPU when CPU only builds work). Like the jenkins one but also fetching and building the repo automatically.

[2017-08-28 00:44] mdymczyk opened #72 "Expose Jenkins build status"
Has to be publicly visible so the contributors know what's failing.

[2017-08-28 17:57] navdeep-G opened #74 "Split `elastic_net_base.py` into several solvers (Lasso, Ridge, Linear Regression, Logistic Regression)"

[2017-08-28 21:09] mdymczyk opened #75 "Implement [ci skip]"
Jenkins should not run if commit message contains the phrase `[ci skip]`.

[2017-08-29 01:02] #37 closed, assigned to mdymczyk, pseudotensor, navdeep-G

[2017-08-29 01:29] #65 closed, assigned to mdymczyk, navdeep-G

[2017-08-29 03:42] pseudotensor opened #78 "Improvements to glm (based upon recent suggestions for h2o-3 glm)"
Several requests and questions on h2o.glm features and solutions
Hi, H2O colleagues. Hope you all are well.

I am writing this message to summarize some of the feedbacks and feature requests that came up from one of my project in real world. First let me just say H2O's glm model, (or gbm and other models in H2O family) is second to none in terms of cpu and memory utilization efficiency. Also, even

[2017-08-29 12:16] mdymczyk opened #80 "KMeans `int` support"
KMeans should be able to handle `int` inputs - the Python wrapper should do an automatic cast to a float if ints are passed (just like it is done [here](https://github.com/dmlc/xgboost/blob/master/python-package/xgboost/core.py#L340)).

To be checked: would adding `int` support on the C/C++/CUDA side just require adding an `int` template? Or would the code not work?

[2017-08-29 17:43] #60 closed, assigned to pseudotensor, navdeep-G

[2017-08-29 22:27] #74 closed, assigned to navdeep-G

[2017-08-29 22:28] navdeep-G opened #81 "Create unit tests for various GLM wrappers"

[2017-08-29 22:29] mdymczyk opened #82 "Add backend/runtime configuration class"
The runtime configuration passed to our objects should wrapped in a config class, something similar to how [TF config](https://github.com/tensorflow/tensorflow/blob/r1.3/tensorflow/core/protobuf/config.proto) looks like. This would simplify the API and make it more robust (e.g. adding new backends/options would be much easier).

[2017-08-29 22:30] navdeep-G opened #83 "Create notebooks for various GLM wrappers"
Please do not use issues to ask questions. For questions use either [StackOverflow](https://stackoverflow.com/questions/tagged/h2o4gpu) (`h2o4gpu` tag) or [Gitter](https://gitter.im/h2oai/h2o4gpu?utm_source=share-link&utm_medium=link&utm_campaign=share-link).

GitHub issues are used for:

* Bug reporting.
* Feature/enhancement requests and discussion.

Before submitting a new issue please make sur

[2017-08-29 23:52] mdymczyk opened #84 "Add Python 2.x and 3.5 testing steps"
Jenkins build should test the wheel against multiple Python versions.

Ideally it would also build against different versions but due to resource constraints that can wait.

[2017-08-30 01:00] #83 closed, assigned to navdeep-G

[2017-08-30 01:39] navdeep-G opened #86 "Clean up testing framework (tests/utils.py)"
* Would be good to clean up so outside contributors can utilize easy to use functions for testing.

[2017-08-30 01:40] #26 closed, assigned to navdeep-G, khevn

[2017-08-30 18:34] navdeep-G opened #87 "Ensure valid type checking in GLM class"
Ensure valid type checking for constructor and various methods found in GLM class

[2017-08-30 21:20] navdeep-G opened #88 "Add more metrics to util/metrics.py"
* Right now we can calculate logloss, rmse. Would be good to have more.

[2017-08-30 22:37] #86 closed, assigned to navdeep-G

[2017-08-30 23:17] pseudotensor opened #90 "PR cont int not accessible outside h2o or vpn"
E.g., PR 76 links to http://mr-0xc1:8080/job/h2o4gpu/job/PR-76/7/display/redirect , but fails to load unless on h2o vpn.

[2017-08-31 00:05] mdymczyk opened #92 "Look into static code analysis tools"
Something like [SonarQube](https://www.sonarqube.org/) might be very useful to catch potential bugs (especially memory leaks, deadlocks etc.) and vulnerabilities.

[2017-08-31 00:58] #88 closed, assigned to navdeep-G

[2017-08-31 01:44] #66 closed, assigned to navdeep-G

[2017-08-31 05:14] #54 closed, assigned to pseudotensor, st-pasha

[2017-08-31 06:39] mdymczyk opened #94 "Add pylint as part of the build process"
Should run on Python submodule build.

[2017-08-31 07:53] #94 closed, assigned to mdymczyk

[2017-08-31 09:23] #20 closed, assigned to mdymczyk

[2017-08-31 12:42] #80 closed, assigned to mdymczyk

[2017-08-31 17:34] pseudotensor opened #97 "Need way to notify us when cub, py3nvml, xgboost, scikit-learn repo's are updated"
So we can test on our data sets to confirm the version is good and update the commit we point to in our repo.

[2017-08-31 18:39] pseudotensor opened #98 "Use register.dat to attach GLM wrappers"

[2017-08-31 21:30] #23 closed, assigned to navdeep-G, khevn

[2017-08-31 23:12] navdeep-G opened #100 "Add framework for Sphinx documentation"

[2017-09-01 00:27] #100 closed, assigned to navdeep-G

[2017-09-01 01:15] mdymczyk opened #103 "Unify KMeans prediction formats"
Below stuff was fixed but KMeans still requires transforms and centroids to preserve format.

~~`model.labels_` and `model.predict(X)` seem to return the same results but sometimes in different orders (`c` style vs `r` style).~~
[code]

~~Also there are some discrepancies when passing in `int` values:~~
[code]

~~Also running with multiple GPUs seems to change the order of predictions.~~

[2017-09-01 01:38] navdeep-G opened #104 "User register.dat to attach XGBoost wrappers"

[2017-09-01 01:59] #98 closed, assigned to navdeep-G

[2017-09-01 17:52] #58 closed, assigned to navdeep-G

[2017-09-01 19:11] navdeep-G opened #106 "Sphinx docs should only show h2o4gpu solvers/utils"

[2017-09-01 19:57] navdeep-G opened #108 "Automate setup.py"

[2017-09-01 20:11] #64 closed, assigned to pseudotensor

[2017-09-01 20:29] #15 closed, assigned to mdymczyk, navdeep-G

[2017-09-01 20:29] #14 closed, assigned to mdymczyk, navdeep-G

[2017-09-01 20:32] #106 closed, assigned to navdeep-G

[2017-09-02 01:20] navdeep-G opened #110 "Fix handling of intercept and non float32 datatypes"

[2017-09-02 02:03] pseudotensor opened #112 "xgboost wheel should be built and tested and used separately"
To speed-up build process:

1) Wheel should always be build from https://github.com/h2oai/xgboost/tree/h2oai and pushed to private site.

2) We need a separate jenkins job that then takes that wheel and tries to build h2o4gpu and make test on it.  Once it's confirmed as a good run, we push the private wheel to public space.

3) We just need then to remove the xgboost build process from the normal

[2017-09-02 02:20] #56 closed, assigned to pseudotensor

[2017-09-02 06:12] pseudotensor opened #114 "Also, can we have jenkins abort a build if another commit comes along -- especially useful for PRs when one makes minor fixes and updates the PR."

[2017-09-03 00:56] pseudotensor opened #115 "seems need java in jenkins for make testperf"
http://mr-0xc1:8080/view/H2OAI/job/h2o4gpu/job/multitest/

tbiIQSOjNKU4P0+vIKc0PTOvWK8kMze1uCQxtyC1SC8ExvbLL0llgABGJgYmLwaB3MycnMzi4My85FTXgvzkDB8G3tScxILi1BRfsEwJg4BPVmJZon5OYl66vk9+Xrp1RRGDFNSy5Py84vycVD1nCI1qPENFAZCOc3i+VBjoPj6QKXogU/TApnQ/mXCmX/k+EwOjFwNrWWJOaSrQXAGEIr/S3KTUorY1U2W5pzzohpoGBMLy0gDMkxeg8gAAAA==[0m        if os.getenv("JAVA_HOME"):
21:44:36             full_path = os.path.join(

[2017-09-03 01:07] pseudotensor opened #116 "need public "make tests" and "make testperf" at least"
Proposed data sets:

* simple.txt
* HIGGS
* various sklearn open data sets: http://scikit-learn.org/stable/modules/classes.html#module-sklearn.datasets

[2017-09-03 02:45] pseudotensor opened #118 "float32 and float64 give different results, float64 often being bad"
Wamsi confirms:

[wamsi.zip](https://github.com/h2oai/h2o4gpu/files/1272668/wamsi.zip)

Use this to install mapd (easy): https://github.com/mapd/mapd-core

[2017-09-03 02:57] #116 closed, assigned to pseudotensor, navdeep-G

[2017-09-03 14:17] #46 closed, assigned to mdymczyk

[2017-09-03 14:20] #18 closed, assigned to pseudotensor

[2017-09-03 14:22] #90 closed, assigned to mmalohlava, mdymczyk, abal5

[2017-09-03 22:24] pseudotensor opened #120 "Include rest of API (including internals like examples show or is stated in code) for glm so more sklearn like"
E.g., no coef_ and wasn't before any intercept_ .  And need to revert to sklearn if options passed that don't have.  Constructor should be identical to sklearn, but can have *more* options (but not less).  If options passed aren't supported, revert to sklearn or at least be reasonable somehow.

[2017-09-03 22:25] pseudotensor opened #121 "Include rest of API (including internals like examples show or is stated in code) for kmeans, so more sklearn like"
Various var_ stuff and also ensure if any options passed that are not yet designed into our code, that we revert to sklearn version.  So constructor list and arg list should be identical to sklearn (with of course maybe more options, but not less), but we then check if some args used and  set to unsupported options.  In that case, we revert to sklearn.

[2017-09-04 01:31] #57 closed, assigned to pseudotensor

[2017-09-04 01:31] #110 closed, assigned to pseudotensor

[2017-09-04 01:42] pseudotensor opened #122 "Ensure no copies of data made in python if correct expected types"
Right now, probably copies being made.  Not just memory issue, also speed issue.

[2017-09-04 02:06] #42 closed, assigned to navdeep-G, khevn

[2017-09-04 02:45] #63 closed, assigned to navdeep-G

[2017-09-04 03:02] mdymczyk opened #123 "Use public datasets in KMeans tests"
Like it was done in GLM #116

[2017-09-04 17:15] navdeep-G opened #125 "Expand set_params and get_params to include all items in constructor. Remove optional keyword args from fit, transform, etc."

[2017-09-04 20:05] pseudotensor opened #126 "sklearn data sets, specify folder"
For the sklearn data sets where I used fetch(), one can in each case specify a different folder when making the call to fetch.  This might fix the jenkins build issue.

[2017-09-05 02:27] #126 closed, assigned to mdymczyk

[2017-09-05 18:38] #115 closed, assigned to abal5

[2017-09-05 23:11] pseudotensor opened #130 "glm probabilities to classes"
More on this?

[2017-09-05 23:31] #125 closed, assigned to pseudotensor, navdeep-G

[2017-09-06 00:35] mdymczyk opened #132 "Jenkins failed jobs notifications"
For now, before we make the build public, we should start sending out emails with failing Jenkins jobs to all people in `dev` and everyone who committed to the failing job.

If possible attach the console output.

This way outside contributors will know what's going on.

[2017-09-06 05:32] #87 closed, assigned to navdeep-G

[2017-09-06 08:10] #132 closed, assigned to mdymczyk

[2017-09-06 22:54] pseudotensor opened #138 "Need glm to have score()"
http://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LinearRegression.html#sklearn.linear_model.LinearRegression

Parameters: | X : array-like, shape = (n_samples, n_features)Test samples.y : array-like, shape = (n_samples) or (n_samples, n_outputs)True values for X.sample_weight : array-like, shape = [n_samples], optionalSample weights.
-- | --
score : floatR^2 of self.predict(X)

[2017-09-06 22:57] #81 closed, assigned to navdeep-G

[2017-09-07 00:23] pseudotensor opened #140 "multitest needs to be redone"
multitest shouldn't be doing build and test independently, should just be testperf, testbig, testbigperf independently.  But currently it's setup to go step-by-step dependently and repeat the build/test done by the other jenkins stuff that only does build/test.

Instead, testperf, etc. should just pull the wheel already built by the other bud/test steps.

It should only take 30 mins for testperf b

[2017-09-07 01:13] pseudotensor opened #141 "GPU kmeans needs to be compared with h2o-3 or sklearn or intel daal."
And jenkins results should be used to add asserts.

Can time performance with entire fit+predict but compare result with just a fast call to sklearn fit(1 iteration) + predict.

[2017-09-07 01:28] navdeep-G opened #142 "Add testperf to Jenkins pipeline"
* Add new pipeline step that will run small performance test

[2017-09-07 04:30] pseudotensor opened #144 "glm needs sklearn options"
http://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LogisticRegression.html#sklearn.linear_model.LogisticRegression

E.g. LogisticRegression for us is currently forced as alpha-=0.5 or something because alpha_max=1 and alpha_min=0 but n_alphas=1.  But sklearn can pass penalty option, so this should set alpha.

Many other options that should be controlled, and if no ability to do

[2017-09-07 05:56] mdymczyk opened #145 "KMeans single and multi-gpu review"
Currently single and multi-gpu versions are returning (quite) different centroids.

To test:
[code]

This behavior has been like this at least since end of July.

Need to investigate if this is working as intended and should be documented (because each GPU only works with part of the data) or is there a bug in our CUDA code.

@edit: turns out there's a bug even in the single GPU version. In the or

[2017-09-07 07:38] pseudotensor opened #146 "glm: return absolute best of alpha and lambda based upon appropriat error"

[2017-09-08 02:22] #123 closed, assigned to mdymczyk

[2017-09-08 06:42] #59 closed, assigned to mdymczyk

[2017-09-08 17:21] pseudotensor opened #150 "Need tests as part of code so can (like sklearn) just run model.tests.testname and runs the test fully self-contained"
Any data pull is from some s3 or site or pulled from local cache like sklearn.

[2017-09-10 12:04] mdymczyk opened #152 "Add C++/CUDA unit testing frameworks"
Currently 0 tests for our C++/CUDA code. Writing short unit tests can often be faster and easier than adding prints in code. Also we should try not to leave debug code in the codebase - if everyone does that we'll bloat it too much. Small unit tests can do the same job in a more readable (and repeatable) way.

[2017-09-10 12:42] mdymczyk opened #154 "Add builds for different Python versions/OSs/CUDA/etc."
Currently our package is "python version bound" b/c of ScikitLearn (since they are using Cython).

Seems like quite a few people are still using Python 3.5, we might need to add a build step also for that Python version. Also we'll need a Windows CI machine if we want to generate whl files for Windows.

Lets start with adding builds for Python 3.5.

[2017-09-11 17:00] pseudotensor opened #155 "jenkins often fails just due to cloning"
Solution could be to keep s3 private versions of each repo and sync from them instead of git cloning and keeping the s3 up to date with a jenkins job.  Point is that we very infrequently change the commit we point to, and silly to grab from github every time.  The other solution is to use my shallow clone stuff so that there is much less to download from github.

Commit message: "minor doc2"

ERRO

[2017-09-12 07:21] pseudotensor opened #159 "Notes from H2O4GPU meeting: 9/11/17"
Notes from H2O4GPU meeting by Navdeep
Date: 9/11/17
Attendees: Karen, Dave, Jon, Tom K, Mateusz, and Navdeep
Initial thoughts from group:
* Make it clear what supported platforms are available for h2o4gpu.
* Enable S3 logging for artifacts.h2o.ai.
* Ensure support for Python 3.5. Maybe a separate Jenkins pipeline and another wheel.
* Recommend installing h2o4gpu on a fresh virtualenv. Otherwise it

[2017-09-12 07:39] pseudotensor opened #160 "Ensure support for Python 3.5. Maybe a separate Jenkins pipeline and another wheel."

[2017-09-12 08:04] pseudotensor opened #161 "Fallback to CPU/sklearn when GPU fails (e.g. out of memory)"
And, fallback to CPU or sklearn if n_gpu=0 is set and we have no CPU algorithm except scikit-learn's.  E.g, if CPU lib not found for kmeans, revert to sklearn.

[2017-09-12 08:16] pseudotensor opened #162 "side-by-side scikit-learn and h2o4gpu"
Include side by side examples of scikit and h2o4gpu. Can start of with comparing GLM in scikit vs GLM in h2o4gpu, XGBoost, and K-Means in scikit vs K-Means in h2o4gpu .

Show results and timing for each.

kmeans: @mdymczyk
glm, tsvd, pca: @navdeep-G
gbm: @pseudotensor

[2017-09-12 08:24] pseudotensor opened #163 "glm _ptr needs to save X or validPreds in GPU memory so can return GPU pointers"

[2017-09-12 08:25] pseudotensor opened #164 "kmeans needs _ptr and return results only on GPU as pointers as well"
E.g., predictions or clusters should be saved on GPU and default for _ptr methods is to only have those things on the GPU.

[2017-09-12 08:37] pseudotensor opened #165 "need updated GPU roadmap like on in README.md"
vinod

[2017-09-12 11:12] #160 closed, assigned to abal5

[2017-09-12 20:19] pseudotensor opened #169 "Upload to PyPi"
https://packaging.python.org/tutorials/distributing-packages/

[2017-09-12 20:33] navdeep-G opened #170 "Make ElasticNet wrapper"
Follow guidelines from #157 and #144

[2017-09-12 21:59] navdeep-G opened #171 "User should be able to specify early stopping metric in GLM"
* Would be good if a user can specify early stopping with a particular metrics, i.e., `AUC`, `Logloss`, `RMSE`, etc.

[2017-09-12 23:33] pseudotensor opened #172 "RunAnimation in code base for easy demoing"
http://localhost:8889/notebooks/examples/py/demos/Multi-GPU-H2O-GLM.ipynb

[2017-09-13 00:33] #172 closed, assigned to pseudotensor

[2017-09-13 00:45] #155 closed, assigned to abal5

[2017-09-13 06:52] pseudotensor opened #173 "Need to improve accuracy on make testperf (9/12/17)"
f38f5a336f888d0f62180a0cb2095e524883616a

Main issue is ipums with n_folds=1 and very few lambda (3) getting bad training error.  Too few lambda to find good solution, so maybe ok (i.e. somewhat expected).  Similar issue for a simple.txt test.

[code]

[2017-09-14 00:01] khevn opened #175 "GLM keeps crashing when running a loop. GPU memory gets full"
Kernel died after few hundred iterations with wide data

[code]

[2017-09-14 00:32] pseudotensor opened #176 "need new jenkins to allow git submodule update --depth 1 <module name>?"
https://issues.jenkins-ci.org/browse/JENKINS-24728

[2017-09-14 12:45] mdymczyk opened #177 "KMeans extremely slow for low k"
[code]

Fit takes around `Wall time: 3.84 s`. If we change centers to `17` we get `Wall time: 543 ms`.

The difference clearly starts to show at around `75000` rows.

[2017-09-15 00:31] #145 closed, assigned to mdymczyk

[2017-09-15 00:33] mdymczyk opened #178 "KMeans centroid averaging on GPUs"
If centroid averaging becomes a bottleneck and/or we want to stay on the GPUs 100% of the time we can research if averaging centroids from multiple GPUs would be better on one of the GPUs instead of the host (as is done now).

[2017-09-15 22:32] #108 closed, assigned to pseudotensor

[2017-09-15 23:11] pseudotensor opened #183 "Rename GLM -> ElasticNet_h2o4gpu and write wrapper for ElasticNet inside solvers/elastic_net.py"
http://scikit-learn.org/stable/modules/generated/sklearn.linear_model.ElasticNet.html

[2017-09-15 23:21] #170 closed, assigned to navdeep-G

[2017-09-16 00:05] navdeep-G opened #185 "Accuracy diff for np_input unit test"
Seems to be diff in PR #182. Okay in master

[2017-09-16 01:31] #144 closed, assigned to navdeep-G

[2017-09-19 00:31] khevn opened #187 "LogisticRegression: Correctly fit/predict class values that are not (0,1) and squeeze the predictions"
* When the class values are not `(0,1)` the model doesn't produce correct results
* Change the shape of predicted array from `(n,1)` to `(n,)`

[code]

with target classes being `[0,2]`, accuracy of h2o model drops from `~0.95` to `~0.03`, while sklearn results are not affected.

Changing the shape of returned array from `(n,1)` to `(n,)`, will allow to directly pass it into helper functions, such

[2017-09-19 02:02] mdymczyk opened #189 "SKLearn drop-in documentation"
Going through all the steps/scripts for sklearn/xgboost integration (`apply_sklearn.sh` etc.) - can we get a documentation for it? What exactly is being done, what's the flow/steps, what is the result (what files are put where, which files are being merged etc.)? Also, the bash scripts could use some comments.

[2017-09-19 03:22] #185 closed, assigned to pseudotensor, navdeep-G

[2017-09-19 22:12] #183 closed, assigned to navdeep-G

[2017-09-20 00:26] CreatureDev opened #191 "Volta performance twice as slow as pascal for glm and kmeans"
When running KMeans and GPU GLM benchmarks the performance on a volta machine is twice as slow when compared to a pascal machine. The benchmark scripts I am running are the Multi-H2O-GPU-GLM.ipynb and KMeans-Bench.ipynb

Contact me for a copy of the latter script

Expected time for kmeans is about 50 seconds, getting 90 seconds
expected time for GLM is around 70 seconds, getting upwards of 200

[2017-09-20 06:16] #189 closed, assigned to pseudotensor

[2017-09-20 11:39] mdymczyk opened #194 "Remove init_data from KMeans"
While adding `_ptr` methods to KMeans I noticed that `init_data` isn't really necessary.

On a single GPU, it's not used at all as the data is sorted by label anyway in the algo.

In a multi-GPU setting the distribution of data (whether it's random or we just put consecutive batches of data on GPUS) shouldn't really matter as in the end on each GPU we are just summing them up and counting the numb

[2017-09-20 16:32] wamsiv opened #196 "Invalid Predictions when using separate Training+Validation and Test datasets"
### Environment (for bugs)

- **OS platform, distribution and version (e.g. Linux Ubuntu 16.04)**:  _CentOS Linux release 7.3.1611 (Core)_
- **Installed from (source or binary)**: _Binary_
- **Version**: _ 0.0.3_
- **Python version (optional)**: _3.5.3_
- **CUDA/cuDNN version**: _8.0.61_
- **GPU model (optional)**:
- **CPU model**:
- **RAM available**:

Please refer to google on how to obtain the

[2017-09-21 01:23] pseudotensor opened #198 "Put xgboost and py3nvml into h2o4gpu module"

[2017-09-21 17:18] pseudotensor opened #201 "Try to remove PyFPE dependency and tag wheel properly"
@sklam

The problem is that the wheel is built from a CPython build with the `--with-fpectl` flag.  It changes the ABI for CPython.  For portable ABI, it should not use fpectl.  See https://www.python.org/dev/peps/pep-0513/#fpectl-builds-vs-no-fpectl-builds
Python.org
PEP 513 -- A Platform Tag for Portable Linux Built Distributions
The official home of the Python Programming Language

You can chec

[2017-09-21 17:20] pseudotensor commented on #201
See also: https://github.com/scikit-learn/scikit-learn/issues/7542#issuecomment-250908129

[2017-09-21 18:46] pseudotensor commented on #154
we will add to jenkins conda and other python versions and other cuda versions

[2017-09-21 18:48] pseudotensor opened #202 "you can add a auditwheel check in jenkins to ensure that the wheel is portable"

[2017-09-21 19:19] pseudotensor commented on #196
problem was different colums for train and test due to one hot encoding.  Could allow user to pass in rows and cols even for pointer case to have it check for user that they have wrong input.

[2017-09-21 19:19] #196 closed

[2017-09-21 20:07] pseudotensor opened #204 "memory free"
https://github.com/h2oai/h2o4gpu/blob/master/src/gpu/matrix/matrix_dense.cu#L645-L661

[2017-09-21 20:24] khevn commented on #175
The Kernel crash is due to GPU memory being full. After the model is trained, it's not released from GPU memory. Therefore, the memory gets full very quickly when training multiple models in a loop.

Also, trying `del model` in python doesn't work

[2017-09-21 22:27] #104 closed

[2017-09-21 23:29] navdeep-G opened #207 "Benchmark Scikit tree models vs XGBoost"

[2017-09-22 06:01] mdymczyk commented on #175
Tried this yesterday and noticed the same problem (though with notebooks, so memory was increasing only by ~2M with each `fit`). The `finish` methods (which are supposed to free up all the pointers) also didn't seem to work.

[2017-09-22 18:27] khevn commented on #187
It is also true for other GLM models. The predictions of regression models have `(1, n)` shape, need to reshape them too.

[2017-09-22 18:29] khevn commented on #162
Do the side-by-side examples need to be in README or in a separate notebook?

[2017-09-22 19:05] pseudotensor commented on #162
Hi Karen, Ask Angela.  Should be like h2o-3 docs where you can click button on webpage and see either (say) python or R versions.  For us it would be scikit or ours.  It should also show results as pasted in.

[2017-09-23 18:47] pseudotensor commented on #204
https://github.com/h2oai/h2o4gpu/tree/memoryleak WIP

[2017-09-23 19:01] pseudotensor opened #211 "Print better message when no gpu backend"

[2017-09-24 18:28] #211 closed

[2017-09-24 19:34] pseudotensor commented on #177
example of why slow for small k: kernels are not well-tuned for small k. they end up using very few cores and threads.

[2017-09-24 20:01] pseudotensor commented on #202
Branch: https://github.com/h2oai/h2o4gpu/tree/wheelstuff .  In reality, our compiled wheel on jenkins has specific arch due to scikit (sklearn-0.20.dev0-cp36-cp36m-linux_x86_64.whl)  and our own C++ backend but these are not actually inherited when building.

Either should have machine-specific automatically picked-up or build wheels for many system types.

[2017-09-24 20:16] pseudotensor opened #213 "Speed up xgb gpu even more"
See also TODO or OPTMARK in updater_gpu_hist.cu:

* For good-sized data sets, overall, 60% of time spent in UpdatePositionSparse due to bad memory access patterns.  The waiting is about 70%, so if improved could speed things up by 2X overall.

* BuildHist is slower than could be due to 50% waiting due to memory contention in atomics.  Liked we talked about long ago, should try caching and push cac

[2017-09-24 20:47] RAMitchell commented on #213
The new version I'm working on should be able to replace the gpu_hist version when complete.

I've used a binary search instead for updatepositionsparse so that might improve performance.

Each kernel now processes one node at a time giving us the ability to do some more optimizations on the histogram builder. E.g. shared memory

D2d copies will be in updatepositionsparse I think. Binary search ap

[2017-09-24 21:07] pseudotensor commented on #213
Thanks, good to know.  I won't try to improve the existing algo.  It'll be interesting how things work out as far as latency issues go (biggest issue with current algo).

[2017-09-24 21:09] pseudotensor commented on #213
Also, old algo had very little use of registers or shared memory.

[2017-09-24 21:12] pseudotensor commented on #213
And actually, nvvp shows very low memory bandwidth usage across all types of memory.

[2017-09-27 20:09] #165 closed

[2017-09-27 20:29] pseudotensor commented on #25
https://github.com/daaltces/pydaal-tutorials/blob/master/kmeans_example.ipynb

[2017-09-27 20:32] pseudotensor commented on #33
https://github.com/daaltces/pydaal-tutorials
https://github.com/daaltces/pydaal-tutorials/blob/master/kmeans_example.ipynb

[2017-09-27 20:39] navdeep-G commented on #33
Is the idea here to fall back on this for CPU side eventually by default? Or keep default the same and add this as a potential option?

[2017-09-27 20:40] pseudotensor commented on #33
Currently no CPU backend to our kmeans and just fails if we take options in but no GPU or choose n_gpus=0.  This provides both a CPU backend and is much faster than scikit.

[2017-09-27 20:41] navdeep-G commented on #33
Okay, makes sense. Seems interesting. Will look further.

[2017-09-27 21:37] ashish5ahu opened #216 "RMSE values using GLM algorithm is (potentially) not correct"
We are using Fannie Mae public dataset to build a GLM model to predict delinquency. However, we are getting some weird RMSE results. I am not a data scientist so it could be either:
1. We are not using the right features
2. We are using GLM incorrectly (perhaps a different algorithm is better)
3. Potential problem with pointer/GDF handoff

I discussed with Mateusz and he suggested filing an issue

[2017-09-27 21:46] navdeep-G commented on #216
Hi @ashish5ahu,

If the outcome is delinquency (which I assume is binary), then the errors would be logloss instead of RMSE since its a classification problem. Does this help explain the results you're seeing?

[2017-09-27 22:05] pseudotensor commented on #25
WIP: https://github.com/h2oai/h2o4gpu/tree/WIPinteldaal
Use install_daal for compiling C++ version on Ubuntu, but not for python.  Seems python only with conda, intel python, or compile from source (they say, but can't find where from)

[2017-09-29 19:49] pseudotensor opened #218 "Make "make testperf" benchmarks visible online/live from jenkins output"
https://pv.github.io/numpy-bench/

Need jenkins to do make testperf.  I know it was doing this as part of some separate branch, but should be part of normal branch and like h2oai has benchmarks doable but doesn't cause build to fail.

[2017-09-29 19:51] pseudotensor commented on #218
But not always done.  Should be able to trigger with #benchmark or similar.

[2017-10-01 17:39] pseudotensor opened #219 "Implement matrix factorization"
Add/Implement CPU/GPU matrix factorization. One candidate:

https://devblogs.nvidia.com/parallelforall/accelerate-recommender-systems-with-gpus/

Some of the requirements:

1) if not implementing but using an existing repo check the license!
2) it would be a good time to have a data structure which we could use across H2O4GPU - the Matrix class used in tSVD/PCA would be a good starting point - nee

[2017-10-01 17:44] pseudotensor opened #220 "Implement kNN"
https://github.com/pseudotensor/kNN-CUDA (non-commercial license)
https://arxiv.org/abs/0804.1448
http://journals.plos.org/plosone/article?id=10.1371/journal.pone.0044000
https://www.diva-portal.org/smash/get/diva2:861804/FULLTEXT01.pdf
https://link.springer.com/chapter/10.1007/978-3-319-25087-8_25
etc.

[2017-10-01 17:47] pseudotensor opened #221 "Implement MCMC"
https://github.com/nandofioretto/GPU-MCMC
https://arxiv.org/abs/1402.4089
etc.

[2017-10-01 18:03] pseudotensor commented on #118
Seems to be fixed, unless @wamsiv wants to say otherwise.

[2017-10-01 18:03] #118 closed

[2017-10-01 19:43] pseudotensor opened #222 "Implement Baysian NN"
https://github.com/blei-lab/edward/blob/master/examples/bayesian_nn.py
http://edwardlib.org/tutorials/bayesian-neural-network

[2017-10-02 01:47] pseudotensor opened #224 "Implement Factorization machines"
Factorization machines like LibFM (http://www.libfm.org/) or LibFFM(https://www.csie.ntu.edu.tw/~cjlin/libffm/)/  Commonly dominate click-through rate (very sparse) problems.

[2017-10-02 05:14] pseudotensor opened #225 "xgboost gpu prediction not always correct"
https://github.com/dmlc/xgboost/issues/2759
https://github.com/dmlc/xgboost/issues/2764

[2017-10-02 22:48] pseudotensor opened #227 "Notes from H2O4GPU meeting 10/2/2017"
- Driverless.ai (DAI)
    - For GPUs, only using XGBoost
    - WIP: GPU K-Means into DAI
    - WIP: SVD/Truncated SVD in DAI
    - WIP: Direct ingestion of DT into XGBoost
    - Convert numpy calls to numba? Needs to be researched.
    - Profile transformers and see where the performance hits are located (currently it might be k-means and svd)
- Benchmarks of scikit vs h2o4gpu
    - Capture each s

[2017-10-03 16:50] mdymczyk commented on #177
The issue is `cublasSgemm` call in `kmeans_labels.cu#calculate_distances`. Lost the link but read on the NVidia forum that none of the dimensions should be less than 16 when using that method (preferably 32).

We need to add a different way of calculating matrix-matrix product for matrices with smaller dimensions.

[2017-10-03 17:29] pseudotensor commented on #177
Ok, no problem then.  I liked @RAMitchell 's simple way of just doing vector matrix multiplication instead.  What he suggested is very easy to do stages: 1) Do sequential v-m ops (e.g. cublasSgemv) for each small k<32.  2) If that works fine, you can write your own kernel that takes streams and do them in parallel.  I don't think the cublasSgemv takes streams -- ask Rory what to do as well.

[2017-10-03 18:57] pseudotensor commented on #224
"Factorizing personalized Markov chains for next-basket recommendation" (Steffen Rendle)

[2017-10-03 21:14] pseudotensor commented on #220
http://vincentfpgarcia.github.io/kNN-CUDA/

[2017-10-03 21:22] pseudotensor commented on #220
https://www.cs.umd.edu/~mount/ANN/

[2017-10-07 00:21] mdymczyk opened #229 "Implement kmeans++ (kmeans||)"
Currently only random initialization is supported which does result in subpar optimization, kmeans++ (kmeans||) should help with that.

[2017-10-08 20:12] pseudotensor commented on #219
https://github.com/cuMF/cumf_als

[2017-10-08 20:18] pseudotensor commented on #36
http://h2o-release.s3.amazonaws.com/h2o/rel-tutte/1/docs-website/h2o-genmodel/javadoc/index.html#quickstartmojo

[2017-10-08 20:35] pseudotensor opened #230 "GPU scoring methods (ROC AUC)"
http://scikit-learn.org/stable/modules/generated/sklearn.metrics.roc_auc_score.html

[2017-10-08 20:35] pseudotensor commented on #230
Ranking methods.

[2017-10-11 00:54] ashish5ahu commented on #216
Thanks @navdeep-G! Let me check and get back to you.

[2017-10-11 01:09] wamsiv commented on #216
@navdeep-G I checked with @pseudotensor `predict_proba` is really what we are getting back in the general class ElasticNetH2O. I am implementing Logistic regression for the above problem right now. `https://github.com/h2oai/h2o4gpu/blob/master/src/interface_py/h2o4gpu/solvers/logistic.py`
But I have to copy the data to host in order to send it to above Logistic regression. Would be better if we ca

[2017-10-13 05:18] pseudotensor opened #234 "Add standard xgboost tests to list of tests."
Only issue is tests are often nose tests and not pytests.  But need to test this since github.com/h2oai/xgboost h2oai branch being used isn't otherwise itself tested, and it's diverged from dmlc/xgboost master branch.

[2017-10-13 06:11] pseudotensor commented on #154
See also: https://github.com/dmlc/xgboost/blob/master/Jenkinsfile

[2017-10-13 06:12] pseudotensor opened #235 "implement improved stop early in xgb"
Like: https://github.com/dmlc/xgboost/pull/2651

[2017-10-17 05:38] teju85 opened #239 "Implement GPU based DBSCAN clustering algo"
Original serial algo: https://www.aaai.org/Papers/KDD/1996/KDD96-037.pdf
GPU based implementations:
1. CUDA-DClust: http://www.dbs.ifi.lmu.de/Publikationen/Boehm/CIKM_09.pdf. It uses a collision matrix approach to name clusters. also has an index data structure on GPU that helps reduce computational complexity of eps-neighborhood detection.
2. G-DBSCAN: https://pdfs.semanticscholar.org/31df/abb8d1

[2017-10-17 22:17] mdymczyk commented on #49
Things that require consideration:

- unit tests
- benchmarks against SKLearn: focus on data sizes/parameters used in DriverlessAI but also add general case tests
- has to work both on CPU and GPU, until we have a CPU kernel we should fallback to SKLearn

@navdeep-G

[2017-10-17 23:39] navdeep-G commented on #49
@mdymczyk All of those points sound good to me.

[2017-10-18 00:34] mdymczyk commented on #177
Performance has already improved by quite a lot. If more performance improvements are required we can further tweak it.

[2017-10-18 00:34] #177 closed

[2017-10-19 20:23] #49 closed

[2017-10-20 21:00] wamsiv opened #242 "Invalid Predictions when using one-hot-encoding"
### Environment (for bugs)

- **OS platform, distribution and version (e.g. Linux Ubuntu 16.04)**: Centos
- **Installed from (source or binary)**: binary
- **Version**: 0.0.4
- **Python version (optional)**: 3.5.3
- **CUDA/cuDNN version**:
- **GPU model (optional)**:
- **CPU model**:
- **RAM available**:

### Description
When `one-hot-encoding` is performed on a data before feeding to to `h2o4gpu.

[2017-10-20 21:02] wamsiv commented on #242
Copying @sklam for his confirmation on the above issue.

[2017-10-20 21:47] pseudotensor opened #243 "Add more C backend stuff accessible to python"
*) compute capability from xgboost code
*) deviceQuery
*) malloc (for testing)

[2017-10-24 17:17] pseudotensor opened #246 "Try to remove requirement of gcc>=4.9"

[2017-10-25 03:15] pseudotensor opened #248 "Create bash script to run through modules and update commit if desired, so don't have to do manually"
on@mr-dl10:~/h2o4gpu$ cat .gitmodules
[submodule "cub"]
        path = cub
        url = https://github.com/h2oai/cub
[submodule "xgboost"]
        path = xgboost
        url = https://github.com/h2oai/xgboost
[submodule "py3nvml"]
        path = py3nvml
        url = https://github.com/h2oai/py3nvml
[submodule "scikit-learn"]
        path = scikit-learn
        url = https://github.com/h2oai/scik

[2017-10-25 04:26] mdymczyk commented on #246
Isn't that a CUDA requirement?

[2017-10-25 04:28] mdymczyk commented on #242
@navdeep-G can you have a look at this?

[2017-10-25 04:43] mdymczyk commented on #246
GCC 4.9 is required for OMP task dependencies which were introduced in OMP 4.0 which are only supported in GCC 4.9 and newer.

IIRC 4.8 branch is not maintained anymore so unless we get a whole lot of requests to support it I wouldn't go forward with this.

[2017-10-25 04:59] pseudotensor commented on #242
No, I asked Wamsi to reduce to simple case.  He has before has issues that ended up his own issues.  We can't degug reasonably until someone gives a simple repro case

[2017-10-25 05:23] pseudotensor commented on #246
Ok, I guess if someone comes along we can point them to this github issue and just assume the requirement we list on the README is sufficient.  I'll close then, thanks!

[2017-10-25 05:23] #246 closed

[2017-10-25 23:28] wamsiv commented on #242
Root cause: `one-hot-encoding` was generating different feature columns for separate training and test sets (due to different number of unique values(rows) for a column). Since, different sets of features were generated, we were getting invalid invalid predictions. Would be useful to use label encoding for these cases.

Attaching a simple reproducible script.
[h2oglm_test.py.zip](https://github.co

[2017-10-25 23:28] #242 closed

[2017-10-26 02:24] memory-yancy opened #252 "testperf always failed"
### Prerequisite:

OS: Ubuntu 16.04, RAM available11G , Intel(R) Xeon(R) CPU
CUDA: 8.0
gcc: 5.4.0-6ubuntu1~16.04.5
h2o4: 0.0.4, download h2o4gpu whl file from anaconda cloud
     https://anaconda.org/gpuopenanalytics/h2o4gpu
Python: 3.6, use Anaconda3

### How

I cloned h2o4gpu project, and then I run relevant make subcommand when my env is ready to complete.
When I run `make testperf`, the `build

[2017-10-26 02:27] mdymczyk commented on #252
@memory-yancy the version on anaconda cloud is a bit dated - we added TruncatedSVD just recently. You'll have to either remove the current Python package manually and build the whole project yourself (`make fullinstall`) or download one of our bleeding-edge wheels (links in the main readme).

[2017-10-26 02:30] mdymczyk commented on #252
@memory-yancy as for `pytest: error: unrecognized arguments: -n tests_open` - this occurs when you don't have `pytest-xdist` installed. We have it in our `requirements-buildonly.txt`, which is not bundled with the wheel.

In general, if you want to run our tests its a good idea to build the project yourself, then you don't have to worry about missing dependencies etc.

[2017-10-26 02:30] #252 closed

[2017-10-26 04:11] pseudotensor commented on #201
It looks like jenkins build is clean of fpectl now. #249

jon@mr-dl10:~$ auditwheel show h2o4gpu-0.0.4-py36-none-any.whl
WARNING:auditwheel.lddtree:[Errno 21] Is a directory: '/usr/local/cuda/lib64/'

h2o4gpu-0.0.4-py36-none-any.whl is consistent with the following
platform tag: "linux_x86_64".

The wheel references external versioned symbols in these system-
provided shared libraries: libc.so.6 w

[2017-10-26 04:11] #201 closed

[2017-10-26 04:14] pseudotensor commented on #201
Note that cannot repair wheel to make it manylinux compatible, so really shouldn't have none-any and should be at least linux_x86_64.  But hope to remove scikit-learn dependency that really makes it cpython dependent.

jon@mr-dl10:~$ auditwheel repair h2o4gpu-0.0.4-py36-none-any.whl
Repairing h2o4gpu-0.0.4-py36-none-any.whl
WARNING:auditwheel.lddtree:[Errno 21] Is a directory: '/usr/local/cuda/lib

[2017-10-26 04:45] mdymczyk commented on #201
@pseudotensor yes removing that dep would be a great idea - making our own package cythonized is one thing but another thing is we're now relying only on a single Scikit version. It would be good for us to just say "h2o4gpu version X handles Scikit version ZZZ - YYY" instead. Do you already have any ideas how to remove that dep or do we need to do some research?

[2017-10-26 05:01] pseudotensor commented on #201
Yes, it's easy, just have to get time.  It just involves removing the submodule and all scripts for preparing sklearn, then when we import an sklearn module for our backup method, we only import the very specific class as a different named class and use that (e..g. from sklearn.cluster.kmeans_ import KMeans as KMeans_sklearn).  Should be fine, but may hit snag.

[2017-10-26 05:05] pseudotensor commented on #252
@mdymczyk It's a good point thought that a user should be able to install a wheel and with the build still test.  But in any case, we already have github issue where all tests will be implanted directly into the code instead of separate, like sklearn, so can test anything from the wheel alone.

[2017-10-26 07:20] memory-yancy commented on #201
@pseudotensor  Nice finding. I installed it and import h2o4gpu will produce similar errors, I got whl file from @mdymczyk  Bleeding edge(README.md master branch).  Hope fix it.
[code]

[2017-10-26 16:54] pseudotensor commented on #201
Hi @memory-yancy I can't quite follow you.   Can you try the latest bleeding edge wheel?

[2017-10-29 13:52] memory-yancy commented on #201
@pseudotensor Sorry sincerely for replying latter.
OK, since previous issue, I got answer and then I follow @mdymczyk suggestion for using new `h2o4gpu wheel file` in README.md file, but I will produce a error when I installed it and use it.
[code]
I use `conda` create a clean virtual env by `conda create --name wheel_1 python=3.6`, and then I use pip to install `h2o4gpu-XXXXXX.whl` file and it's

[2017-11-02 04:35] mdymczyk opened #255 "KMeans predictions low compared to ScikitLearn"
Implementing KMeans|| improved them but when running our KMeans and ScikitLearn KMeans with the same starting centroids we are getting 4-10% less acurate model:

1) make sure same centroids are selected with the same `random_state`:

[code]

The above should print only `True`.

2) Run the test against SKLearn:

[code]

[2017-11-02 10:03] mdymczyk opened #256 "KMeans threshold stopping criteria wrong"
The threshold criteria should be checked against the total distance change between all old and updated centroids, not against how many centroids have been moved.

The current implementation can be going back and forth in a loop changing each centroid only by a tiny distance back and forth.

[2017-11-02 13:03] PlayMen opened #257 "Warning: ch2o4gpu_cpu.so failed to load."
Hi,

I run k-means demo from https://github.com/h2oai/h2o4gpu/blob/master/examples/py/demos/H2O4GPU_KMeans_Homesite.ipynb
I have following warning:  h2o4gpu_kmeans_lib shared object (dynamic library) ch2o4gpu_cpu.so failed to load.

OS Rhel 7.2
Installed from https://s3.amazonaws.com/artifacts.h2o.ai/releases/bleeding-edge/ai/h2o/h2o4gpu/0.0.4/h2o4gpu-0.0.4-py36-none-any.whl
Python 3.6
CUDA 8
GPU:

[2017-11-02 13:14] mdymczyk commented on #257
@PlayMen if you're running on GPUs (our default, you can check if they are used by checking `nvidia-smi`) then no. That `*_cpu.so` file is only used in case you choose `n_gpus=0` in our algorithms.

That being said I'd like to investigate a bit more, since we only run tests on Ubuntu. What is your gclib version (you can find out by running `ldd --version`) and gcc version (`gcc --version`)?

Were

[2017-11-02 13:23] PlayMen commented on #257
Hi,

I ran on GPU, with nvidia-smi I could see both GPU utilized.
ldd --version
ldd (GNU libc) 2.17

gcc --version
gcc (GCC) 4.8.5 20150623 (Red Hat 4.8.5-4)

I don't remember other warnings, except that I had to call conda install libgcc to work.

[2017-11-02 13:24] PlayMen commented on #257
P.S. Thanks for fast reply!

[2017-11-02 13:29] mdymczyk commented on #257
@PlayMen `gclib 2.17` might be a problem - we're building the wheel on a system with `2.23`. I'm a bit surprised this worked for you at all.

I know RHEL might not yet have an official 2.23 glibc binary, we're trying to figure out a way to build a more robust whl file that would also work on other distros (CentOS and RHEL at least).

[2017-11-02 13:34] PlayMen commented on #257
Ok, thanks for your help again!

[2017-11-02 15:55] pseudotensor commented on #257
According to auditwheel, one just has to compile against an old glibc.  This is mentioned in the other github issue about the fpectl issue.

[2017-11-02 15:58] mdymczyk commented on #257
@pseudotensor yes, but we need to setup a build system with a lower glibc. Whether this will be trivial or not, I don't know. For Ubuntu the NVidia CUDA requirements say we should use 2.23, so I'm not sure if we can just downgrade glibc in our docker and it will work. Otherwise we'd need to either try and downgrade the Ubuntu version in our docker to a version that can handle glibc 2.17 (not sure

[2017-11-02 20:58] pseudotensor commented on #257
Ya, we can't go below cuda8 requirement for glibc.

[2017-11-05 23:29] n-casale commented on #239
I'm new to this repository but I'm interested in helping to implement G-DBSCAN as a part of a class project at NCSU (I'm an MS student.)  I noticed these two repos: [DBSCAN](https://github.com/propanoid/DBSCAN) and [CudaDBClustering](https://github.com/ghoulsblade/CudaDBClustering), that may be good starting points. The latter is a little messy.

Has this issue made progress? Is there anything I c

[2017-11-06 00:11] mdymczyk commented on #239
From what I know @teju85 will not be implementing this for the time being (think they decided to work on Kalman Filters) so you'd have to do the whole implementation yourself (which of course you're more than welcome to do). This would mean:

1) First a CUDA backend - you can either code it yourself based on the papers @teju85 posted or use an existing repo but in such a case you have to make sure

[2017-11-06 00:21] mdymczyk opened #259 "Generalize Matrix class"
The Matrix class in tSVD is a great start and would be a good idea to use it across the project. For that, we'd need to make it multi-GPU, where all the data is equally distributed across GPUs. Distribution strategy should be: shuffled, "as-is".

[2017-11-06 00:21] mdymczyk commented on #259
@navdeep-G if you're ever feeling bored :-)

[2017-11-06 05:23] mdymczyk commented on #239
@n-casale my bad, misunderstood @teju85 - they already started working on DBSCAN implementation. Not sure if they need any help with it but probably won't be very parallelizable.

[2017-11-06 05:27] teju85 commented on #239
Thanks Mateusz for the clarification.

@n-casale Thanks for showing interest and also for the links!
I did look at DBSCAN which implements the G-DBSCAN algo and I believe we can improve the distance-matrix evaluation kernel (which is the biggest contributor towards the runtime). However, it will still be a few weeks before we get to the part of implementing the connected-component-labelling stage

[2017-11-06 17:08] navdeep-G commented on #259
@mdymczyk Is the idea here to use a single matrix class across algos? Basically a single representation of data?

[2017-11-06 22:12] mdymczyk commented on #259
Yes, instead of coding the same thing multiple times. Or at least to have a common base Matrix class and then specialize it for each algorithm as necessary. But this is only for when you have spare time and nothing with higher priority to do.

[2017-11-06 22:21] pseudotensor commented on #259
We discussed this a bit before, but I don't recall... .What about the pogs matrix class?

[2017-11-06 22:33] mdymczyk commented on #259
@pseudotensor that would be ideal, since then all the algos could use the same code. Also, we'd get (from what I remember) sparse matrices.

Now that I'm thinking about it maybe making the matrix class itself multi-GPU isn't that good of an idea? Since the underlying operations might be too algo specific. I.e. when POGS is doing A * B it does so on the whole matrices on each GPU (since the data is

[2017-11-06 22:36] pseudotensor commented on #259
Pogs is currently agnostic to multiGPU.  The matrix classes are generic, except the class stores which GPU the data is on.  If one wanted to extend it to multi-GPU in some way, say equal partitions of the data, that could be a fairly simple extension.

[2017-11-07 05:52] pseudotensor commented on #234
https://docs.pytest.org/en/latest/nose.html

https://wiki.jenkins.io/display/JENKINS/Version+Number+Plugin

[2017-11-07 05:54] mdymczyk commented on #234
Should we run those tests as part of h2o4gpu or make a new build for XGBoost repo? Think we only want to run them when something in XGBoost changes? And eventually have some h2o4gpu+xgboost specific tests here (i.e. testing the interaction between the two).

[2017-11-07 06:14] pseudotensor commented on #234
Well, could jenkins-ify the entire h2oai branch of our xgboost repo, but I'd prefer to keep h2o4gpu as self-contained as possible.  We do have some xgboost specific tests in h2o4gpu, but I prefer that someone can easily test the xgboost side if they want.  It's easy enough and the tests don't take very long.

[2017-11-07 06:20] mdymczyk commented on #234
Do you know how long do they take exactly?

[2017-11-07 06:58] pseudotensor commented on #234
Doing all the python tests takes 5 minutes, but not all pass (on purpose), so have to loop over each one and check if passes or fails in expected way.

[2017-11-07 09:09] mdymczyk commented on #234
5 min should be ok, especially if me and @abal5 will get around to parallelizing the build. Not sure if possible but ideally I'd like:

-3 builds in parallel a) normal build + tests b) nonccl cuda8 build c) nonccl cuda9 build
- if all of the above pass then a publishing task that would publish all artifacts from above

For jobs that build but don't run I think we can utilize linux machines with CU

[2017-11-07 17:49] pseudotensor commented on #234
There are some gpu tests there, so need gpus.  It's possible there should be no errors, but that they don't check all the tests during their dmlc jenkins-like runs.  I'll look into it when I get to this.

[2017-11-08 08:27] #229 closed

[2017-11-08 08:27] #255 closed

[2017-11-08 20:05] mmalohlava opened #267 "Cleanup requirements.txt and setup.py requirements"
The problem right now, that `setup.py` is reading `requirements.txt` which is bloated by unnecessary packages (jupyter, seaborn) - this pollutes installation of scoring package in h2oai project (CC: @lo5 )

Background:
  - setup.py should clearly list minimal installation requirements.
  - requirements.txt should list all requirements which are needed for "comfortable" run of the project.

For mor

[2017-11-08 20:40] pseudotensor commented on #267
We only use requirements_runtime.txt for h2o4gpu.  These are all the packages needed to run h2o4gpu as well as the demos.  I think what you are saying is to remove the requirements for demos and maybe have a separate requirements_demos.txt.

[2017-11-08 20:44] pseudotensor commented on #267
I don't see that the template helps at all.

[2017-11-08 20:50] pseudotensor commented on #267
Probably the best solution is to create a stripped-down wheel for h2oai, but keep the wheel on the README and for the container as normal for h2o4gpu.  This is easy as wheel generation is very quick, and it's just another artifact to push to s3 that h2oai would use instead.

[2017-11-08 21:00] mmalohlava commented on #267
The template just explains difference between install_requires and requirements.txt.
But yes, it is painful part of python.

I like your idea having multiple requirements file - e.g.,  minimal requirement file which is used in setup.py? if you would like to have a single place definition.

[2017-11-09 13:29] #256 closed

[2017-11-09 23:14] navdeep-G opened #270 "Add examples for truncated svd"

[2017-11-09 23:15] navdeep-G opened #271 "Add Jenkins job to build docker-runtime images for cuda8/9"

[2017-11-10 22:36] #271 closed

[2017-11-11 02:28] pseudotensor commented on #72
Done recently across all h2o jenkins pipelines

[2017-11-11 02:28] #72 closed

[2017-11-11 02:38] pseudotensor opened #277 "More Jenkins todo list (please contribute to list and start to prioritize)"
~1) versioning~

~2) Add containers wheel cuda8/cuda9 links on README.  Update links to cuda8/cuda9 etc. wheels.~

~Do this automatically instead of hard-coding.~

3) have sklearn as import instead of complicated submodule (so no longer compile sklearn).  Wheel should then be more general, although still x86 due to C backend.

~4) name artifacts correctly and well~

https://github.com/h2oai/h2o4gp

[2017-11-11 02:45] pseudotensor commented on #234
Better to have h2oai/xgboost h2oai branch as separate jenkins pipeline

[2017-11-11 02:45] #234 closed

[2017-11-11 02:48] pseudotensor commented on #213
New xgb algo.

[2017-11-11 02:48] #213 closed

[2017-11-13 06:42] mdymczyk opened #278 "Memory leak in KMeans"
KMeans fails (every time) with a segfault after it finishes computing for `c=7` (so no computations for `c=[2,3,4]` are performed):

[code]

Running all of those scenarios one by one works fine.

[2017-11-13 06:49] mdymczyk opened #279 "Improve KMeans memory footprint"
Currently, KMeans requires vasts amounts of memory due to distance matrix calculation. For example, a 5,000,000 record dataset of floats clustered into 256 clusters will take at least 5.12GB memory for that matrix alone. When running `k-means++` this will be even bigger as it might choose more potential centroids.

Two options:

1) check if calculating the whole matrix is required or can we just m

[2017-11-13 07:36] mdymczyk commented on #277
@pseudotensor @navdeep-G  think we can decide on the versioning schema tomorrow during the weekly meeting? If we decide on 1) how we want the version to work 2) how we want to release the project I can implement it after the meeting.

[2017-11-13 20:11] mdymczyk opened #281 "KMeans n_clusters bad type check"
Got while running DAI on homesite data:

`Argument "n_clusters" should be an integer | type | type, got int64 23`

To repro:
[code]

[2017-11-13 20:15] pseudotensor commented on #281
Is that from your code?

[2017-11-13 20:27] mdymczyk commented on #281
@pseudotensor the type checker thing is failing. My guess is it will fail anywhere where we use `assert_is_type` and allow `numpy` types.

[2017-11-14 00:28] pseudotensor opened #283 "Time Series"
Many time series operations (moving average, time-lagged correlation, filters, exponential windows, etc.) are easily done on the GPU very quickly.  Let's discuss and plan to have some time series stuff done on the GPU (e.g. for dai 2.0).

[2017-11-14 00:38] mdymczyk commented on #281
ok so the issue is we're using `type(np.int32)` etc. in `assert_is_type` while we should simply use `np.int32`.

[2017-11-14 01:40] mdymczyk opened #284 "Improve the type checker"
Current type checking mechanism is too restrictive. We need something more generic that will allow the user use all the types SKLearn can use.

[2017-11-14 06:33] pseudotensor opened #286 "Compare xgboost with TFBT"
@arno, @rory @jon could you please have a look:
TF Boosted Trees (TFBT) is a new open-sourced frame-work for the distributed training of gradient boosted trees. It is based on TensorFlow, and its distinguishing features include a novel architecture, automatic loss differentiation, layer-by-layer boosting that results in smaller ensembles and faster prediction, principled multi-class handling, and

[2017-11-14 09:04] pseudotensor opened #287 "Meeting 11/13/2017"
* GLM in gblinear in xgboost instead of our own development of parallel coordinate descent, but modify gblinear to be like h2o-3 glm by Jon
* Optimized random forests by Rory
* Matrix Factorization -- pull in from open-source code
* PCA: navdeep and jon
* Feature generation: Time-series for DAI2.0 (Fourier based stuff like moving average, etc.)
* Consider other classical ML algos for GPU by Rory
*

[2017-11-14 10:13] mdymczyk opened #288 "Add a timer functionality"
In both Python and C/C++ code we could use a simple annotation/preprocessor directive that would time the running time of each method.

For Python we could do something similar to this https://stackoverflow.com/a/27737385/217019

Not sure how to do this in C/C++.

The timer should be controlled either by verbosity level somehow or by an env variable.

Maybe env variable would be better if we can u

[2017-11-14 13:47] PlayMen opened #289 "k-means performance on P100"
Hi,
according to https://github.com/h2oai/h2o4gpu/blob/master/presentations/benchmarks.pdf
it is stated that H2O can fit k-means with 1000 iterations and 1000 clusters in 30.8 sec. I haven't found information what library version was used.

I cannot reproduce such a performance on my P100. I use code from https://github.com/h2oai/h2o4gpu/blob/master/examples/py/demos/H2O4GPU_KMeans_Homesite.ipynb

[2017-11-14 14:16] mdymczyk commented on #289
@PlayMen that benchmark was done around May/June so using quite an old version. The defaults at that time were `tol=1E-3` and `max_iter=1000`. Since that time we have fixed a lot of bugs (which also negatively impacted performance) and added some performance improvements - that's why you might be seeing a pretty big performance boost.

We'll have to rerun this benchmark sometime next week when I f

[2017-11-14 15:40] PlayMen commented on #289
Thanks for your reply!

Is it possible to find out the number of iteration that were performed by algorithm?

[2017-11-14 15:43] mdymczyk commented on #289
You can run @PlayMen we don't return that value but you can set `verbose=1` (when creating KMeans object) and it will be printed in the logs.

[2017-11-14 16:14] PlayMen commented on #289
Thanks, it helped! I also see in output Timetransfer: 1.86826 - is it overall device to host and host to device time?

[2017-11-14 16:16] mdymczyk commented on #289
@PlayMen no that's only the initial host -> device transfer of data and initial centroids. This value also should be improved soonish (next week?).

[2017-11-14 18:05] pseudotensor commented on #32
Add the below type of functionality into an xgboost wrapper:

http://www.bigdatarepublic.nl/regression-prediction-intervals-with-xgboost/
https://www.snip2code.com/Snippet/1651850/Customized-loss-function-for-quantile-re
http://codegists.com/code/xgboost-regression/

e.g.
[code]

How done in scikit:

http://scikit-learn.org/dev/auto_examples/ensemble/plot_gradient_boosting_quantile.html#example-en

[2017-11-14 21:44] pseudotensor opened #292 "Gaussian processes"

[2017-11-15 07:41] #289 closed

[2017-11-17 07:54] mdymczyk commented on #281
Fixed in #285

[2017-11-17 07:54] #281 closed

[2017-11-17 15:16] #194 closed

[2017-11-21 01:36] mdymczyk commented on #279
For the time being, implemented 2), each `pairwise_distances` computation is batched should there be insufficient memory on the GPU.

[2017-11-21 01:36] #279 closed

[2017-11-21 01:37] #278 closed

[2017-11-21 05:50] pseudotensor opened #297 "Tensor cores for GLM GEMM"
For GLM is anyone looking at using the tensor cores for accelerate performance or do we think it would matter?

if precision is not an issue and the GLM code is currently limited by GEMM operations, then looking at tensor cores makes sense.

Yes, GEMM dominates the current glm, so it's something to look into.  I'll add it as github issue that nvidia and h2o.ai can work on together

[2017-11-21 09:06] pseudotensor opened #298 "Error: unsupported CUDA version: driver 8.0 < image 9.0.176"
This is because you need the latest drivers that come with cuda9.  Get the local .deb version of cuda9 and install as on nvidia website:

https://developer.nvidia.com/cuda-downloads?target_os=Linux&target_arch=x86_64&target_distro=Ubuntu&target_version=1604&target_type=deblocal

[code]

[2017-11-21 09:06] #298 closed

[2017-11-21 17:48] pseudotensor opened #299 "Have runtime docker use local stash or file instead of s3"
As for the runtime docker depending upon S3, I'm not sure what to do about that. I think I did that to avoid having to regenerate the wheel if it happens to already be on S3. So a user can just make the runtime docker without building the wheel. Also, the jenkins build will use the s3 file for the runtime docker (however, for that, seems we can just use stashed version). Feel free to fix this to j

[2017-11-21 22:45] #299 closed

[2017-11-21 23:29] pseudotensor opened #300 "svd tests should take less time"
Currently a single svd test takes alot of time.  Can you make svd (or can you point to svd) tests that are shorter for fast tests?

------ generated xml file: /repo/build/test-reports/h2o4gpu-testfast3.xml ------
15:17:13 ========================== slowest 10 test durations ===========================
15:17:13 629.00s call     tests_open/test_tsvd.py::test_tsvd_error_k5
15:17:13 319.10s call     t

[2017-11-22 01:52] #300 closed

[2017-11-22 05:41] mmmaks opened #304 "ImportError : PyFPE_jbuf, when trying importing h2o4gpu"
I am trying to install h2o4gpu by following this [link](https://github.com/h2oai/h2o4gpu/blob/master/README.md).
But when tried to import h2o4gpu in virtual environment, it is showing this importing error :

`Traceback (most recent call last):
  File "<string>", line 1, in <module>
  File "/root/virtualenvironment/H2O/lib/python3.6/site-packages/h2o4gpu/__init__.py", line 11, in <module>
    from

[2017-11-22 05:45] mdymczyk commented on #304
Hey @mmmaks yes the "stable" release might be having those kind of issues (we'll probably make a new release in a week or two).

As for the bleeding edge links - they should be working now so please try them out.

[2017-11-22 06:58] mmmaks commented on #304
@mdymczyk , the bleeding edge links are still not working.
When trying to open this [link](https://s3.amazonaws.com/artifacts.h2o.ai/releases/bleeding-edge/ai/h2o/h2o4gpu/0.0.4/h2o4gpu-0.0.4-py36-none-any.whl), it is showing
`This XML file does not appear to have any style information associated with it. The document tree is shown below.
<Error>
<Code>AccessDenied</Code>
<Message>Access Denied</Me

[2017-11-22 07:01] mdymczyk commented on #304
@mmmaks the links changed, this is what you should be seeing now:

![screen shot 2017-11-22 at 16 00 12](https://user-images.githubusercontent.com/1208615/33114040-53b29ff8-cf9e-11e7-8002-7177d8df9d57.png)

We now provide 4 builds, for CUDA8/9 and with NCCL enabled and disabled. You can get the CUDA8/NCCL version [here](https://s3.amazonaws.com/h2o-release/h2o4gpu/releases/bleeding-edge/ai/h2o/h2o

[2017-11-22 09:18] mmmaks commented on #304
Thanks @mdymczyk , it's working now.
Can we use xgboost with gpu alongside h2o4gpu?? Because it was mentioned,

so i installed h2o4gpu in virtual environment.
Actually I want to create a notebook where we can import both xgboost with gpu and h2o4gpu.
Thanks.

[2017-11-22 09:30] mdymczyk commented on #304
@mmmaks yes you can use xgboost like you'd do normally (here's an example https://github.com/h2oai/h2o4gpu/blob/master/examples/py/xgboost_simple_demo.ipynb).

What that note means is that we do bundle our own version of XGBoost inside H2O4GPU (github.com/h2oai/xgboost) because the approval/release process of the original wasn't fast enough for us. So any already installed version of XGBoost you h

[2017-11-22 11:11] mmmaks commented on #304
Thanks @mdymczyk
But while using h2o4gpu to test the installation
`import h2o4gpu`
 `import numpy as np`
  `X = np.array([[1.,1.], [1.,4.], [1.,0.]])`
  `model = h2o4gpu.KMeans(n_clusters=2,random_state=1234).fit(X)`

I am getting this import error :
`ImportError: /lib64/libstdc++.so.6: version `GLIBCXX_3.4.21' not found`

While by running
`strings /usr/lib64/libstdc++.so.6|grep GLIBCXX`
GLIBCXX_3

[2017-11-22 13:02] mdymczyk commented on #304
@mmmaks there were issues already regarding this problem - we currently don't support CentOS/RHEL as they have different g++/GLIBCXX requirements for CUDA than the machines we use for building our wheel (Ubuntu).

[2017-11-22 18:16] michael-balint opened #306 "`make testbigperf` fails at `aws s3 sync` command"
Running `make testbigperf` fails when reaching `sync_otherdata`...

[code]

Substituting `--no-sign-request` instead of `--recursive` yields an `Access Denied` error...

[code]

AWS CLI version...

[code]

[2017-11-22 19:26] pseudotensor commented on #304
@mmmaks Yes, and if you want to still try out h2o4gpu you can use the docker runtime image as explained in the README.md.  The docker is independent of the system.

[2017-11-22 20:03] pseudotensor opened #307 "make svd and kmeans like rest of tests (for make test and make testperf)"
E.g. Currently test_tsvd_bench.py is done during all tests and (e.g.) kills my home system with only 32GB of system memory because it also uses sklearn.  For tests we should only test h2o4gpu and not also sklearn (unless there is an assert on accuracy, which there is none in test_tsvd_bench.py).

Can you make your svd tests like the rest of our tests so that "make test" will only check h2o4gpu and

[2017-11-22 22:48] pseudotensor commented on #306
The make testbigperf requires one to run make sync_otherdata or make sync_data but that goes to a closed s3 bucket.  I can share the data with you if you provide a means to upload it.

[2017-11-22 23:19] pseudotensor commented on #306
But I fixed the --recursive and (for me with access to that bucket) the make testbigperf works. b2efce00922af163fbc82032dbb2c433f5718e0b

[2017-11-22 23:19] #306 closed

[2017-11-23 01:09] pseudotensor opened #311 "kmeans demo: terminate called after throwing an instance of 'std::bad_alloc'"
http://localhost:8888/notebooks/examples/py/demos/H2O4GPU_KMeans_Images.ipynb

With just changing to k=200 and I keep getting the below.  I used to do k=1000 I think without problems.  Does this make sense @mdymczyk ?

[code]

[2017-11-23 05:00] mdymczyk commented on #311
I'll have a look which allocation is failing.

With the old version I'd be very suprised if it worked for k=1000. The old version was allocating a full pairwise distance matrix (now I'm doing it in batches if necessary), which was `rows x k` big. That would mean 10116514 * 1000 * 4 ~= 40GB only for that matrix alone (when using float32). `k=200` might have worked on a 1080Ti, maybe.

[2017-11-23 05:11] pseudotensor commented on #311
Well, I think that error is not a GPU error but instead a CPU error.  I only have 32GB on my home system, but I don't think that much system memory should be necessary.  So maybe there is bloat on the CPU side?  Or I'm simply wrong and it is a GPU error *and* then you can prove it by computing the needed memory for that case :)

[2017-11-23 05:20] pseudotensor commented on #311
Memory usage for k=100 is only about 1.5G at most and averages 300G

![image](https://user-images.githubusercontent.com/2249614/33159737-e570e054-cfca-11e7-917b-9b6f7fb7c2cf.png)

[2017-11-23 05:21] mdymczyk commented on #311
@pseudotensor you might be right about it being nonGPU RAM related, just ran it on dl14 and it finished just fine. Could you try running it with `init='random'`? If that's the case then I'll have to add batching also on the CPU side.

[2017-11-23 05:22] pseudotensor commented on #311
Even k=150 fails.

Here's k=120:

![image](https://user-images.githubusercontent.com/2249614/33159777-3cd56176-cfcb-11e7-817f-8635f5d6d3e8.png)

[2017-11-23 05:24] pseudotensor commented on #311
k=150 seems like it tries to put 5GB on a GPU (couldn't catch it in screen shot), but only very briefly.  I wish we had max mem usage over duration.  Maybe something is pushed to GPU and freed and never used?  So when I show memory before it is probably not peak GPU mem usage.

[2017-11-23 05:25] pseudotensor commented on #311
Yes, init='random with k=150 worked.

[2017-11-23 05:38] mdymczyk commented on #311
Just checked, for k=1000 it's using up to 29GB of RAM, probably because I'm not batching anything on the CPU side and `kmeans||` can be more memory intensive than `kmeans++`. Will look into what I can do.

[2017-11-23 05:42] pseudotensor commented on #311
When doing k=200, system memory used hits a VERY high number of 20GB of and then suddenly goes down. to 1.3GB resident and 80G virtual.  So there is some initial memory usage that is very high.

[2017-11-23 05:43] pseudotensor commented on #311
Why should higher k take any more CPU memory?  Makes no sense.

[2017-11-23 05:45] mdymczyk commented on #311
When you're computing the pairwise distance matrix its dimensions are `rows x k` -> the bigger the `k` the bigger the matrix. How KMeans|| works it runs for several iterations (max 8), chooses X potential `k` values at each iteration. Cumulative sum of potential centroids chosen in this way can be higher than `k`, in such a case we choose out of all of those only `k` centroids. This is done by com

[2017-11-23 05:45] pseudotensor commented on #311
But pairwise matrices are all on GPU.

[2017-11-23 05:49] mdymczyk commented on #311
I implemented the last part (choosing exactly `k` centroids) of `kmeans||` on the CPU since it was easier to implement it that way and I wasn't sure it would be bottleneck enough to push it to the GPU. Might need to change that.

[2017-11-23 05:58] mdymczyk commented on #311
Here's how it works:

1) kmeans|| runs for 2-8 iterations (depending on the size of `k`)
2) we start with a single random centroid
3) at each iteration we choose X new potential centroids using probability
4) we gather all new potential centroids from each GPU on the host and redistribute them back to each GPU so each GPU has the same centroids
5) after all the iterations we can end up with more p

[2017-11-23 06:02] pseudotensor commented on #311
Even with init='random', while k=400 works fine and only uses 1.3GB of system memory and up to 5GB at most on GPU, for whatever reason k=500 fails with the same bad alloc error .

[2017-11-23 06:04] pseudotensor commented on #311
On your description.  Even if step 4 and 5 are on CPU, those are still just centroid locations, not pairwise distance matrices.  Trivial amount of memory.

[2017-11-23 06:05] mdymczyk commented on #311
@pseudotensor interesting! could you run it with `verbose=700` or some other high number? does jupyter print out the logs?

Sorry for all those questions, would run it myself but still struggling to reproduce :-/

[2017-11-23 06:06] mdymczyk commented on #311
@pseudotensor in 5) we choose those final k centroids by computing pairwise distances. But yes, I also think even that step shouldn't take more than a few hundred MB.

[2017-11-23 06:07] pseudotensor commented on #311
Ya, I think the biggest memory crunch is the gemm that eats k*n*m, nothingn else should use more than than even on CPU!  Maybe some few*n*m for various operations or few*k*n or few*k*m, but no biggy.

[2017-11-23 06:09] pseudotensor commented on #311
Ya, even with init='random' something at first uses alot of memory, but I can't always catch it it's so fast.  Sometimes k=500 works, but sometimes not, while below always works with init='random' and far above k=500 always fails with init='random'.    This is despite persistent memory usage (when works) only being about 1.5GB at most in resident memory.

[2017-11-23 06:12] pseudotensor commented on #311
I'd give you an account on my home machine, but very recently comcast changed their port forwarding and that no longer works.

Maybe one can run in docker that has a limited amount of memory?  We have solid runtime dockers now :)

[2017-11-23 06:13] mdymczyk commented on #311
@pseudotensor I'm already using `ulimit` on dl-14 to limit it to 16GB (both max mem and virt mem) but still not failing :-/

[2017-11-23 06:13] pseudotensor commented on #311
https://docs.docker.com/engine/admin/resource_constraints/#memory

[2017-11-23 06:14] pseudotensor commented on #311
Well, there are many things to ulimit, not obvious it will work, while docker is more certain.

[2017-11-23 06:16] pseudotensor commented on #311
I'm going to see if I can get peak system usage (nothing I found for GPU usage)

[2017-11-23 07:08] pseudotensor commented on #311
Can do:

(full path needed)
[code]
with the attached file (converted notebook). [H2O4GPU_KMeans_Images.zip](https://github.com/h2oai/h2o4gpu/files/1498191/H2O4GPU_KMeans_Images.zip)

k=500:
GPU usage is up to 6.7GB on any given GPU.  Persistent resident memory usage is 1.2GB from top, and time -v reports max of 1.4GB.  Here k*m*n is 14GB, so somehow doing a better job on the GPU than I would expec

[2017-11-23 07:25] pseudotensor commented on #311
[code]
Seems the kmeans::detail::relabel itself must be the issue as the failure is right on this line it seems.

[2017-11-23 07:28] pseudotensor commented on #311
verbose=10 gives:

[code]

[2017-11-23 07:31] mdymczyk commented on #311
@pseudotensor could you try running with `verbose=600`? I changed a log of logs to debug/verbose so we have finer control of what we print out.

I just ran the docker with `-m=16g` and it worked for `k=1000` :-/ Running out of ideas how to repro this.

[2017-11-23 07:31] pseudotensor commented on #311
Ok, I'll let you debug rest.  Happy to run some more verbose code for debug.  Seems not enough verbosity if at verbose=10 :)  Should know every function call.

[2017-11-23 07:31] mdymczyk commented on #311
I ran docker the docker like in the README but added -m:

`mkdir -p log ; sudo nvidia-docker run --name localhost --rm -p 8888:8888 -m=16g -u `id -u`:`id -g` -v `pwd`/log:/log --entrypoint=./run.sh opsh2oai/h2o4gpu-0.1.0-nccl-cuda8-runtime &`

[2017-11-23 07:32] pseudotensor commented on #311
verbose=600
[code]

[2017-11-23 07:34] pseudotensor commented on #311
E.g.., what I suggested above is it's really a GPU memory thing, but you are requesting way too much somewhere.  I have 3 12GB boards, which should be plenty compared to your 2 16GB boards, but probably on each GPU you are requesting the amount needed for *all* GPUs.

[2017-11-23 07:37] mdymczyk commented on #311
@pseudotensor yes looks like GPU thing. This is very suspicious:

[code]

Since 2051937791 < 8989913907 it should say only `Runs 1`. Will investigate.

[2017-11-23 07:37] pseudotensor commented on #311
Maybe you can try increasing k until you hit the same error and then debug.  It should indicate that you don't need as much memory as you should for

[2017-11-23 07:43] pseudotensor commented on #311
Ya the math seems like Runs is the reciprocal of what it should be, but it's probably not the full story.

[2017-11-23 07:48] pseudotensor commented on #311
BTW, size_t should be printed with %zu or %dz and not %ld.

[2017-11-23 07:49] mdymczyk commented on #311
@pseudotensor ah ok maybe that's why it's showing incorrect values? I'm running now for `k=100 000` without problems so far.

[2017-11-23 07:51] pseudotensor commented on #311
Seems otherwise code makes sense and can't be what it shows. %ld is for signed long int at least, and size_t is mapped to  (usually) an unsigned long int.

But that still doesn't explain memory usage requested I think -- nor failure.

[2017-11-23 08:09] mdymczyk commented on #311
Unless some logs are lost due to the error, it would seem to be failing on this line:

[code]

This would make sense to me only if: something else is allocating memory on that GPU after I call `cudaMemGetInfo` or if the free memory size retrieved by `cudaMemGetInfo` was incorrect?

Someone on SO mentions a similar issue https://stackoverflow.com/questions/26200824/simple-device-vector-code-gives-s

[2017-11-23 08:12] pseudotensor commented on #311
I can try that.  Can you fix the print out bug?  If it's really rolling over a long int then that's a hige amount of memory being requested

[2017-11-23 08:44] pseudotensor commented on #311
After %zu fix.  See, CRAZY.  You must be using int instead of size_t somewhere, I guess.

[code]

[2017-11-23 08:53] pseudotensor commented on #311
[code]

Problem is that n was integer and you were using n*k*sizeof(T) that are all integers and going beyond the 32-bit limit.  Please check all cases where you mutiply n or k or m by other things.

Things still fail, but now it seems you are doing "Runs 2" but still running out of memory as if you are allocating that total amount across *all* runs even though you say you'll do 2 runs.

[code]

[2017-11-23 09:04] pseudotensor commented on #311
Ya, I don't follow this code:
[code]

Seems should just always be rows_per_run as a fixed thing independent of run.

[2017-11-23 09:19] pseudotensor commented on #311
However, even with that fix, I noticed an odd thing.  My 3 GPUs are being touched sequentially, as if you are not doing the operations in parallel when doing batched mode.  Is that simply a flaw?  Seems odd limit.

[2017-11-23 09:23] pseudotensor commented on #311
Well, with k=2000 still hits the bad allloc thing.  Yes, sorta like the memory available reported not right.

Instead of introducing (only) the fudge factor of 0.8, can you instead do a try except in C in order to reduce the memory usage per run in case of such a problem?  This will avoid arbitrary fudge factors (say lowering it to 0.7 to catch the k=2000 case I just did) and be much more robust t

[2017-11-23 09:31] pseudotensor commented on #311
Yup, even for k=800, nvvp clearly shows not parallel on multiple GPUs.

![image](https://user-images.githubusercontent.com/2249614/33166111-f59a134c-cfed-11e7-91d9-e5d99ae4ea6c.png)

[2017-11-23 09:35] pseudotensor commented on #311
I know for sure the old kmeans did very well in scaling on multiple GPUs.  For homesite arno made that slide for kmeans showing exactly that up to 4 GPUs (but not quite for 8).  Have you been able to reproduce such good scaling?

[2017-11-23 09:52] pseudotensor commented on #311
One major optimization:  Don't allocate each iteration or run, just do once.  Very expensive to allocate large chunks over and over AND not reliable if gpu used for other things.  That way you lock in memory you can have at first iteration.

[2017-11-24 04:57] mmmaks commented on #304
Thanks @mdymczyk , @pseudotensor .
I will go with ubuntu image then.

[2017-11-24 05:48] mmmaks commented on #304
@mdymczyk
Is there any way we can configure h2o4gpu or centos, so that it can be used in centos? Apparently here we can not use ubuntu image for notebook for other issues.
Or, are you guys are working on giving support for centos?

[2017-11-24 08:14] mdymczyk commented on #311
@pseudotensor thanks for the updates! I'm going through the code and check all the places where I do `cudaDeviceSynchronize` - I might be using it incorrectly which might be causing all that synchronization. Still haven't found the main offenders, though.

For example while checking some presentations/tutorials on how to use multi GPU I noticed people do:

[code]

And I'm using the `deviceSync` me

[2017-11-24 08:23] mdymczyk commented on #304
@mmmaks we will work on it but we have quite a few deadlines in the upcoming 2 weeks, so we cannot promise anything.

One workaround would be to build the project yourself by following the [build instructions](https://github.com/h2oai/h2o4gpu/blob/master/DEVEL.md).

[2017-11-24 08:28] mdymczyk commented on #311
Good point about allocating during each run, I'll change it to 1) allocate once 2) clear to 0 instead 3) only resize for the last run if needed.

[2017-11-24 09:25] mdymczyk commented on #311
Pushed several fixes mentioned in this issue.

[2017-11-24 17:59] pseudotensor commented on #311
Why not just use same size for every run.  As I listed above, many benefits.  Not really clever to change size

[2017-11-24 18:01] pseudotensor commented on #311
yes can't synch in loop over async calls

[2017-11-24 18:03] pseudotensor commented on #311
the last code i gave has same size for every run.  No good thing about varying last run size.  Yes, once allocation is outside loop, just try catch that allocation itself.

[2017-11-24 18:04] pseudotensor commented on #311
You'll have to see if all gpu's agree on size, maybe

[2017-11-25 01:19] mdymczyk commented on #311
@pseudotensor I can try using the same size at each iteration, but the size in the last loop can be different (i.e. you have 900rows but can process only 200 at a time). Not sure if some parts of the code don't look at the whole vector.

[2017-11-25 03:49] pseudotensor commented on #311
Can allocate more than use.  If concerned about automatic sizes, then can cast to hrust type with deaired size even if allocated more.  Still avoid repeated allocations

[2017-11-26 08:52] pseudotensor opened #315 "Fix versioned s3 uploads so runtime docker has no snapshots, only bleeding edge and stable. Otherwise too storage taken up."
https://s3.console.aws.amazon.com/s3/buckets/h2o-release/h2o4gpu/snapshots/bleeding-edge/ai/h2o/h2o4gpu/0.1-nonccl-cuda8/?region=us-east-1&tab=overview

[2017-11-26 08:52] pseudotensor opened #316 "Fix: s3 path used for docker different than wheels"
https://s3.console.aws.amazon.com/s3/buckets/h2o-release/h2o4gpu/snapshots/ai/h2o/h2o4gpu/0.1-nonccl-cuda8/?region=us-east-1&tab=overview

wheels are here, while docker are as in the other github issue.

[2017-11-26 08:54] pseudotensor commented on #315
Seems for h2o-release/h2o4gpu, don't need to have the /ai/h2o/h2o4gpu part.  Redundant for snapshots in this bucket.

[2017-11-26 08:54] pseudotensor commented on #316
This has snapshots/ai/h2o/h2o4gpu/ and the wheels are snapshots/bleeding-edge/ai/h2o/h2o4gpu/

[2017-11-28 23:30] #270 closed

[2017-11-29 21:51] #304 closed

[2017-11-29 22:14] #311 closed

[2017-11-30 02:40] navdeep-G commented on #41
Implemented here: https://github.com/h2oai/h2o4gpu/commit/796506af055fe6e7a30b319ed2b7b29d33175098

[2017-11-30 02:40] #41 closed

[2017-12-01 22:11] pseudotensor opened #324 "Compile h2o4gpu with static cuda libs so user environment can have either cuda8 or cuda9 and h2o4gpu will still work"
Currently, otherwise h2o4gpu fails to find the cuda libraries.  Can request people ensure this is so, but in development environment good to avoid.

See some progress at: https://github.com/h2oai/h2o4gpu/tree/static

But, best to use cmake for this, because cmake easily handles this (like for xgboost).

[2017-12-02 07:29] pseudotensor opened #328 "Do full SVD on GPU (nvidia svd cu stuff is mostly on CPU using lapack)"
I thought cuda9 would improve this, but seems they didn't improve this aspect.  Even MAGMA package has the same issue.  I understand some stuff is inefficient for the GPU, but maybe they only tested for small data when assuming to do significant work on the CPU.

It's still true that CPU is slower, because what work is done on the GPU is done very efficiently, but for large matrices the work on th

[2017-12-03 07:44] pseudotensor opened #329 "Add tol parameter to TSVD since arpack and can be much faster than default of machine precision (sklearn)"

[2017-12-03 07:50] pseudotensor opened #330 "Do randomized TSVD on GPU"
First consider if good idea given possible random memory accesses compared to brute force matrix operations done by arpack algo.

[2017-12-03 08:27] pseudotensor commented on #307
@mdymczyk Randomly got the below.  We shouldn't have performance tests in the normal jenkins build because we aren't ensured we are running on a clean unused system.  Please move as a testperf job.

}
            for arg in pyfuncitem._fixtureinfo.argnames:
                testargs[arg] = funcargs[arg]

/root/.pyenv/versions/3.6.1/lib/python3.6/site-packages/_pytest/python.py:147:
_ _ _ _ _ _ _ _

[2017-12-03 09:13] pseudotensor commented on #29
[GPUMLib](http://gpumlib.sourceforge.net/) has ANN, SVM and matrix factorization algorithms,
[GTSVM](http://ttic.uchicago.edu/~cotter/projects/gtsvm/) has kernelized SVMs, and
[cuSVM](http://patternsonascreen.net/cuSVM.html) has SVMs for classification and regression.

[2017-12-03 18:18] mdymczyk commented on #29
@pseudotensor good finds but not sure if we are ok with GPLv3? Think people (and by people I mean corporations) are very hesitant to use GPLv3 software.

[2017-12-03 18:35] pseudotensor commented on #29
ya not suggesting we use them directly, but can learn from them and see if person who made them wants to join us.  Don't have to do it all ourselves:)

[2017-12-03 20:12] mdymczyk opened #331 "XGBoost wrappers calling incorrect methods"
https://github.com/h2oai/h2o4gpu/blob/master/src/interface_py/h2o4gpu/solvers/xgboost.py#L720

The `GradientBoostingRegressor` is calling `XGBClassifier` instead of `XGBRegressor`.

Also the `GradientBoostingClassifier` https://github.com/h2oai/h2o4gpu/blob/master/src/interface_py/h2o4gpu/solvers/xgboost.py#L427 is using `num_parallel_tree=100` which is too large, we should go (probably) with 1.

[2017-12-03 20:14] pseudotensor commented on #331
Yes, noticed those a few days ago and didn't have time to fix (was planning to eventually).  Thanks for posting the issue.

[2017-12-03 23:35] pseudotensor opened #332 "Add timing and info (like iterations took) to model"
e.g. model.iters and model.time_preperation , etc. like glm does.

[2017-12-03 23:56] pseudotensor opened #333 "Kmeans: KMeans|| too slow compared to init='random'"
On default homesite notebook, takes 1:10 on single 1080ti with kmeans||, but only 10s with init_random.  CPU/GPU usage shows hits GPU at first, but spends most of the time on the CPU, and does a bit more on the GPU at the end.

[2017-12-03 23:57] pseudotensor opened #334 "KMeans: Multi-GPU performance saturated even with init='random'"
10-15s with 1 or 2 GPUs on 1080ti for homesite kmeans notebook.  As if (compared to previously) improvements allowed for across the board for all GPU counts, but saturated in performance for a different reason that was possibly related to why 4 and 8 GPUs had similar performance before.

[2017-12-04 00:52] mdymczyk commented on #334
One issue I noticed is even if we set `random_state=1` in both cases (1 and 2 gpu), the total number of iteration differs. 2 GPU version is running for over 200iter, while 1 GPU version finishes around 150. Both cases are reproducible (i.e. 1GPU always runs for ~150, 2GPU always ~200) but they should be both similar. The only reason why this would happen I can come up with on the spot is because i

[2017-12-04 01:05] mdymczyk opened #336 "XGBoost wrappers parameters missing"
http://xgboost.readthedocs.io/en/latest/python/python_api.html#xgboost.XGBClassifier and the Regressor have parameters which we don't expose in our wrappers, we probably should. Also, we probably need to pass somehow kwargs.

[2017-12-04 01:17] #331 closed

[2017-12-04 01:40] mdymczyk opened #338 "Version number in too many places"
Version number is in too many places in the Makefile - we should do something like ``VERSION = `cat config/version.mk` ``  instead of hardcoding it there.

[2017-12-04 02:07] mdymczyk commented on #333
3 potential speedups, at the last stage of kmeans||:

1) do the martix multiplication on GPU not CPU
2) try not to erase data from middle of vectors as it might be expensive
3) dont create vectors each iteration

[2017-12-04 06:50] mdymczyk commented on #338
Fixed in #337

[2017-12-04 06:50] #338 closed

[2017-12-04 07:01] #333 closed

[2017-12-04 09:07] pseudotensor opened #340 "Periodic tests of h2o4gpu testperf runs on jenkins as well as aws systems like p3"
Need to have make testperf (with it's artifacts correctly grabbed) done.

Also need to buy a volta machine.

[2017-12-04 10:15] #140 closed

[2017-12-04 10:16] pseudotensor commented on #140
Not using multitest branch

[2017-12-04 17:18] mstensmo opened #341 "Investigate into explained var ratio for PCA"
See PCA demo notebook

[2017-12-05 02:47] pseudotensor opened #342 "libgomp: Out of memory allocating 790273983624 bytes due to varimp"
Take a look at this notebook:

https://github.com/h2oai/h2o4gpu/blob/f9782284a855ed25684c46af18f4ac528f19ffde/examples/py/xgboost_simple_demo.ipynb

Then just remove the kwargs['n_jobs']=1 near the bottom for the model before doing varimp.  This will force the use of n_jobs=-1 chosen earlier.  This causes a crash with the below message.  That is clearly a bug amount of memory being requested (736G

[2017-12-05 15:18] Far0n commented on #342
oh damn, that looks not good. will have a look asap.

[2017-12-06 00:19] navdeep-G opened #343 "Create scikit CV wrappers for all relevant algos"

[2017-12-06 00:20] navdeep-G opened #344 "Revisit doc generation for python api"

[2017-12-06 00:39] gitclem opened #345 "/usr/lib/libblas.so.3: undefined symbol: gotoblas"
I'm having trouble with running some bits of h2o4gpu.   I get the error:

[code]

I believe I have things installed correctly:

[code]

I'm using Ubuntu 16.04

[2017-12-06 21:21] pseudotensor commented on #345
It's probably an anaconda issue.  We don't support anaconda yet.  You can try the command on the README for installing the anaconda version, but we don't support it.

[2017-12-08 20:39] mdymczyk opened #346 "Power method tSVD"
Investigate and, if seems ok, implement a different algo for tSVD which utilizes more GPU.

[2017-12-08 20:40] mdymczyk opened #347 "Double variant for tSVD"
We need to also handle "double" as input type for tSVD (like in KMeans and POGS).

[2017-12-08 20:42] mdymczyk opened #348 "Distributed tSVD"
For big data use cases we will need to figure out a parallelizable algo for tSVD. Ideally we want to be able to chunk the data per gpu/node. We can start with multi-GPU single host version and then move to multi node if we see the need.

[2017-12-08 20:44] mdymczyk opened #349 "Intel DAAL implementation for tSVD"
Research if we can gain anything from it and if so implement our tSVD algo using Intel DAAL.

Things to look into:

1) how long it would take
2) can such implementation also use on nonIntel CPUs and what would be the performance

[2017-12-08 20:45] mdymczyk opened #350 "tSVD ptr method"
Like in POGS we need a ptr method for SVD. Will put this as 0.2.0 but can be pushed for later.

[2017-12-08 20:46] mdymczyk opened #351 "Sparse data handling in tSVD"
Currently, we only support dense matrices.

[2017-12-08 20:47] mdymczyk opened #352 "Improve the build system"
Either clean up the Makefile or redo it as a CMake.

[2017-12-08 20:48] mdymczyk opened #353 "Docker leakage"
Dockers in Jenkinsfile are leaking.

[2017-12-08 20:51] mdymczyk opened #354 "SWIG"
Look into whether SWIG would make our code simpler (C/C++ -> Python/R/Java binding) and reimplement the current bindings if so.

[2017-12-08 20:54] #31 closed

[2017-12-08 20:54] mdymczyk commented on #35
Being worked on by NVidia.

[2017-12-08 20:57] mdymczyk opened #355 "Try redoing the build docker with CentOS"
Ubuntu is using higher glibc version than CentOS/RHEL - those versions are not available there -> users can't run h2o4gpu whl on them. Building our whl on centos/rhel would most probably be way more robus and work everywhere.

[2017-12-08 21:04] mdymczyk commented on #346
Duplicates #328

[2017-12-08 21:10] mdymczyk commented on #324
One issue we might have with this is .whl size limit for PyPI.

[2017-12-08 21:12] mdymczyk opened #356 "New GLM implementation"
Single model GLM is pretty slow using POGS. Implement a new one in the XGBoost repository.

While implementing look into options to distribute it (maybe using Rabbit?).

[2017-12-08 21:13] mdymczyk opened #357 "Proper RF impl investigation"
First, check the current RF (XGBoost) accuracy against SKLearn.

Look into how long would it take to implement a proper RF.

[2017-12-08 21:15] mdymczyk opened #358 "Multi GPU XGBoost performance improvement"

[2017-12-08 21:17] mdymczyk opened #359 "New algo research"
Figure out which algorithms to do next:

1) what algorithms heavily rely on SVD?
2) benchmark algos used in DAI
3) look into time series related algorithms

[2017-12-08 21:25] mdymczyk commented on #345
@gitclem like @pseudotensor this will be a problem with Anaconda env. You are installing `libopenblas-dev` but anaconda dev is using `libblas` (not OPENbls) which iirc are two different things. I'd try to install https://anaconda.org/anaconda/libopenblas instead and get rid of libblas.

[2017-12-11 21:17] pseudotensor commented on #356
https://research.google.com/pubs/pub41159.html

[2017-12-12 18:20] pseudotensor commented on #334
On volta I get very poor performance with the kmeans image notebook.

GPU#   Time for fit
1            44s
2            29s
4            24s
8            30s # after warmup
8            45s  # first time run on gpus

The first time ran, it seems to be sequentially allocating on the GPU, as if you have some cuda operation (e.g. sync or info getter) that is sequential and getting the cuda context se

[2017-12-12 19:24] navdeep-G commented on #28
Lets close and open a more general issue.

[2017-12-12 19:24] #28 closed

[2017-12-12 19:25] #27 closed, assigned to ledell, navdeep-G

[2017-12-12 19:26] navdeep-G opened #360 "Implement initial R API"
Can use `reticulate`:
https://rstudio.github.io/reticulate/articles/introduction.html
https://rstudio.github.io/reticulate/articles/package.html

This ticket's effort will implement a k-Means R api that can act as a guideline for other algo's (GLM, SVD, PCA, etc)

[2017-12-12 20:17] navdeep-G commented on #360
This looks good. Just a few q's:

1. What would the user workflow look like from a R standpoint? Would it be as follows:
`require(reticulate)
use_condaenv("py36", conda = "/home/terry/miniconda3/envs/py36/bin/conda")
library(h2o4gpu)
...
`
2. I noticed you are using a conda env. We can also use virtual, correct?
3. How would the R packaging look like?

[2017-12-12 20:19] ledell commented on #360
Reticulate seems like an interesting choice and certainly the best way in terms of maintainability.  This seems like a reasonable way to install the dependencies -- Python & h2o4gpu Python lib (from an RStudio [keras blog post](https://rviews.rstudio.com/2017/12/11/r-and-tensorflow/)):

One thing to consider is are we limiting ourselves by restricting to the sklearn options (even though h2o4gpu C+

[2017-12-12 20:21] navdeep-G commented on #360
@ledell Yes, also if we do it this way we do not have to test as much since pytests will take care of the functional aspect/correctness. The runits would be centered around integration.

[2017-12-12 20:22] terrytangyuan commented on #360
1. The users will only call `library(h2o4gpu)`. And then we provide a function `install_h2o4gpu()` to install a wheel from url/location/conda, etc. Very similar to how we did it for Keras and TensorFlow. Interface will look like the following:
[code]
2. Yes exactly.
3. Pure R packaging but we provide the function `install_h2o4gpu` for users to install the Python artifact.

[2017-12-12 20:24] terrytangyuan commented on #360
There will be some work to get the package work nicely for R users though, such as ingesting data.frame input. Nice thing about using reticulate is that there's 0 data copies since it's basically C++ pointers using Rcpp an Python C++ API.

[2017-12-12 20:26] navdeep-G commented on #360
@terrytangyuan Makes sense. More q's:
1. You mentioned data.frame. What about data.table? We could benefit from a fast I/O
2.  Do you think we can see a quick POC of calling say k-means from R? Maybe put it in a branch.

[2017-12-12 20:28] terrytangyuan commented on #360
1. Yep for sure that should be in the roadmap.
2. Yes, I will start a quick POC and push to a branch for further discussion.

[2017-12-12 20:29] navdeep-G commented on #360
@terrytangyuan Great, please assign me and @ledell. We can comment on a PR when ready.

[2017-12-12 20:40] pseudotensor commented on #352
How is this going?  Pritvi also wanted the ability to run DAI in windows, and they are only limited by h2o4gpu not working.  cmake should allow windows builds like xgboost.

Also, until cmake build with static cuda, we can't put h2o4gpu into DAI because leads to mixed devel environment (they may have cuda9 and have normal github repo that's at cuda8 and then h2o4gpu can't find libs).

[2017-12-12 22:38] mdymczyk commented on #360
If:

1) there are already other (semi)widely used frameworks using this (and not complaining about it)
2) we indeed can tweak it to make the API R-like

Then it has my thumbs up.

[2017-12-12 22:59] terrytangyuan commented on #360
@mdymczyk There is already a number of packages depend on this (many others are WIP that are not on CRAN yet). Check out `Reverse dependencies` section in its [CRAN page](https://cran.r-project.org/web/packages/reticulate/index.html). TensorFlow, TF Estimators, and Keras [R interfaces](https://tensorflow.rstudio.com/) are all built using reticulate so I am pretty confident about its stability.

Ad

[2017-12-12 23:02] navdeep-G commented on #360
@mdymczyk Yes, as @terrytangyuan mentioned this package is already in use by many R wrappers to DL libraries in Python (all built and maintained by RStudio).

Making it R like is not an issue as well. Just need to wrap the reticulate calls with proper functions.

The main benefit I see from using `reticulate` is we do not have to rebuild the R-API from scratch. We did most of the work in Python so

[2017-12-12 23:07] navdeep-G commented on #330
Going with power method instead.

[2017-12-12 23:07] #330 closed

[2017-12-12 23:26] mdymczyk commented on #352
Started working on the CMake (heavily based on XGBoost's CMake) but might take me a bit longer since it's my first CMake.

As for bundling the libraries - will do that too but for now, people can either decide on one version or have both CUDA8 and 9 installed, no? It might be a slight inconvenience but not a show stopper?

[2017-12-12 23:48] pseudotensor commented on #352
On which cuda, it's that DAI has a default of cuda8 version because of how they build cuda9 as separate branch.  So even people like arno got confused about why things failed with missing libraries and disabled some simple h2o4gpu stuff inside DAI.  Basically, not confusing for docker, but confusing and bad for developers.

[2017-12-12 23:49] pseudotensor commented on #352
Please keep all Makefile stuff around -- just add cmake capability for now instead of removing old compile method.  Thanks!

[2017-12-13 12:12] mdymczyk opened #362 "KMeans calculate centroids kernel bug"
The `calculate_centroids` kernel from `kmeans_centroids.h` is non-deterministic! The method basically goes through all the records and sums them up by labels, this summed records will be used to calculate the new centroids (by dividing them by number of rows for each label). This should return exactly the same value for same input but returns slightly different values.

[code]

Returns `False` for

[2017-12-13 14:06] mdymczyk commented on #362
The issue here seems to be `atomicAdd` not being associative. Didn't find anything in the docs, just going with what I found on CUDA forum and SO

https://devtalk.nvidia.com/default/topic/571567/atomicadd-and-concurrent-kernels/
https://stackoverflow.com/questions/11653776/is-there-a-sorted-atomicadd-or-equivalent

[2017-12-13 14:08] mdymczyk commented on #362
`float64` is a bit more robust in this regard, as we're using our own impl which uses longlong conversion but still does suffer from this problem slightly.

[2017-12-13 14:58] mdymczyk commented on #362
This might be one of the reason for multi-GPU slowdown. For example running the homesite example:

[code]

And multi GPU:
[code]

This was on the dataset from the notebook minus 1 record (to make it dividable by 2).

[2017-12-14 14:48] mdymczyk commented on #362
One way of fixing this issue is [Kahan summation](https://en.wikipedia.org/wiki/Kahan_summation_algorithm)

[2017-12-14 17:21] terrytangyuan commented on #360
Work-in-progress R package is in `r-lib` branch. Check out this working example of  using `fit, transform, score, predict`: https://github.com/h2oai/h2o4gpu/blob/r-lib/src/interface_r/tests/testthat/test_model.R

[2017-12-14 17:25] terrytangyuan commented on #360
I submitted a PR for initial work: https://github.com/h2oai/h2o4gpu/pull/364

[2017-12-15 00:08] mdymczyk commented on #362
Sample code for Kahan summation from someone having a similar issue: https://devtalk.nvidia.com/default/topic/817899/atomicadd-kahan-summation/

[2017-12-15 15:28] #342 closed

[2017-12-15 15:30] Far0n commented on #342
fixed (-1 has max_threads caused the creating of max(uint) threads)

[2017-12-16 01:36] #346 closed

[2017-12-16 02:46] mdymczyk opened #366 "Benchmark tSVD on DAI"
Lets see if we can use tSVD internally!

1) Choose a set of datasets, they should be diverse (different types of columns, different sizes) but preferably something users would use
2) Benchmark current DAI impl on those datasets
3) Switch DAI code to use our tSVD and rerun the benchmarks

Lets see what we get.

Please also have a look at memory footprint - if we notice that for certain datasets we'

[2017-12-19 23:08] #267 closed

[2017-12-21 20:29] navdeep-G commented on #366
Initial benchmarks on tsvd impl in h2o4gpu:

![powercusolverarpackrandom](https://user-images.githubusercontent.com/10055668/34273758-91c245d8-e64a-11e7-8eec-f68f35d922da.jpeg)

[2017-12-21 21:38] #360 closed

[2017-12-21 22:06] pseudotensor commented on #352
Yes, using xgboost as base is very good idea.  h2o4gpu is not too different in overall things needed (python to C++, gpu vs. cpu, nccl/cub and submodules, etc.)

[2017-12-27 23:37] pseudotensor opened #375 "cuda9 volta DGX server slow"
From nvidia testing:
[code]

[2017-12-27 23:42] pseudotensor commented on #375
AWS ec2 p3 instances with 8 GPUs shows that adding more GPUs for glm leads to lower and lower GPU usage.  Similar problem occurred for xgboost https://github.com/dmlc/xgboost/commit/4d36036fe6fdc30ba4d72c84f3957a39a29ab23f until offending buggy cuda9 call was avoided.

Couldn't find such a call with glm that I could avoid.  Only one I could remove didn't help: https://github.com/h2oai/h2o4gpu/comm

[2017-12-29 16:22] pseudotensor commented on #29
https://github.com/zeyiwen/thundersvm from @Far0n

[2018-01-18 22:13] pseudotensor opened #390 "isolate openblas/GPU things if only doing CPU scoring."
[code]

[2018-01-19 17:09] terrytangyuan opened #392 "Autogenerate tests for R model wrappers"
Right now only XGBoost and KMeans models are being tested. We should automatically generate tests for other estimators in NAMESPACE.

[2018-01-19 19:32] navdeep-G opened #393 "Add gpu_id to tsvd"

[2018-01-19 23:49] navdeep-G opened #395 "Remove `solver` from LogisticRegression solver"
* See here: https://github.com/h2oai/h2o4gpu/blob/master/src/interface_py/h2o4gpu/solvers/logistic.py#L37

[2018-01-20 00:21] navdeep-G opened #396 "Add verbose option to PCA and update Truncated SVD verbose"

[2018-01-20 00:35] ledell commented on #395
Also consider removing any other arguments in `LogisticRegression` which can only accept one value.  If this breaks any sort of sklearn compatibility, let's discuss pros/cons of removing first.  We should probably do a larger review of all the Python H2O4GPU model constructors to see if there are any other arguments like this.

[2018-01-20 01:02] #393 closed

[2018-01-22 12:27] PlayMen opened #399 "Large Transfer time in k-means with big number of clusters"
Hi,
I run benchmark from https://github.com/h2oai/h2o4gpu/blob/master/presentations/benchmarks.pdf
I use 100 iterations, and different number of clusters. I see following picture

Timetransfer | Fit on GPU time, H2O, seconds

1.38588 | 9.23817
1.50101 | 12.5744
8.79409 | 20.1906
193.576 | 10.7283

For 100 clusters, I can see even less fit time (although, all 100 iterations were done for all cases)

[2018-01-22 12:59] terrytangyuan opened #400 "Autogeneation of R model wrappers may not work on certain environment"
Autogeneration of R model wrappers added in https://github.com/h2oai/h2o4gpu/pull/388 doesn’t work sometimes for users on server with issues with sink(). The generated file is blank while individual wrappers can be generated successfully. We need to switch to use more direct write instead of relying on sink(). Can be reproduced using this script: https://github.com/h2oai/h2o4gpu/blob/12eaa761e2c5f

[2018-01-23 02:54] navdeep-G opened #404 "R test failure (test_model.R)"
Loading h2o4gpu
Loading required package: testthat
Testing h2o4gpu
✔ | OK F W S | Context
✖ |  0 1     | Test h2o4gpu_model methods [0.9 s]
────────────────────────────────────────────────────────────────────────────────────────────────────────────────
???: failure: Generic methods for model work correctly for different types of inputs
`force(expr)` threw an error.
Message: cannot coerce class "c(

[2018-01-23 03:39] RemusRomulus commented on #152
How are you writing unit tests for your CUDA code?

[2018-01-23 13:53] mdymczyk commented on #152
@RemusRomulus we currently have a very basic set of few tests built and run via Makefile (https://github.com/h2oai/h2o4gpu/blob/master/tests/cpp/Makefile). We are using GoogleTest. Need to add more and run them as part of the build process, still.

[2018-01-23 13:56] mdymczyk commented on #399
Sure, I'll have a look early next week when I'm done with my current tasks.

@PlayMen thank you for the benchmarks! Will keep you updated.

[2018-01-23 15:09] PlayMen commented on #399
@mdymczyk Thanks for your reply!

[2018-01-23 17:38] #400 closed

[2018-01-23 17:52] PlayMen commented on #399
Could you also clarify if "Timetransfer" from verbose output includes both device to host and host to device transfer time?

[2018-01-23 22:55] navdeep-G commented on #404
Only fails in test infrastructure. Passes locally. cc @terrytangyuan

[2018-01-24 09:28] pseudotensor opened #410 "fullinstall broken. Needs R with specific version, etc."
I don't have it, but it should be installed as part of dependency.
[code]

[2018-01-24 09:28] pseudotensor commented on #410
Nothing in https://github.com/h2oai/h2o4gpu/blob/master/DEVEL.md about it either.

[2018-01-25 06:37] pseudotensor opened #412 "Optimize xgboost random forest for GPU"
Use Nvidia MPS and tune kernel core count to per-kernel optimal (found don't need to use all cores before).  Then MPS will allow non-serial (i.e. parallel) overlap of kernels and use cores more efficiently. This works if not memory bound or of lots of memory contention one wants to hide.  I found before the GPU xgboost has lots of memory stalls (70% of time!) so should be able to do 3X kernels for

[2018-01-25 06:41] pseudotensor commented on #412
Also means can overlap multiple XGBoost runs and get about 3X as many models completed for normal GBM.  Useful for DAI, because typically 8 models and only (say) 2-3 GPUs, but then can run those in parallel instead of sequentially giving nice boost.

[2018-01-25 16:47] terrytangyuan commented on #410
Ok, will submit a fix for that. It should be version agnostic.

[2018-01-25 20:28] terrytangyuan commented on #410
@pseudotensor Could you give this a try? https://github.com/h2oai/h2o4gpu/pull/413

[2018-01-25 21:53] navdeep-G opened #414 "Add seed and iteration parameter to SVD"

[2018-01-25 21:53] navdeep-G opened #415 "Add algorithm parameter to PCA (exposes option to pick between power and cusolver)"
* Involves adding a `seed` and `iteration` parameter for the `power` method.

[2018-01-25 22:00] pseudotensor opened #416 "Possible bug in tsvd explained variance"
The test_tsvd_wrapper.py test shows that the explained variance in the second component is very different for h2o4gpu and sklearn, while first component is very similar.

[code]

[2018-01-25 22:01] pseudotensor commented on #416
[code]

[2018-01-26 16:16] terrytangyuan commented on #404
For the record, here's the error message from @navdeep-G:
[code]

Could you give little more details on how you executed the tests? You mentioned R CMD test but did you run it through console or through RStudio IDE?

[2018-01-26 16:19] terrytangyuan commented on #404
What is your version of devtools and testthat?

[2018-01-26 18:13] navdeep-G commented on #404
Ran it through RStudio IDE.

Version of devtools and testthat:
[code]

[2018-01-26 20:55] #414 closed

[2018-01-26 21:08] pseudotensor opened #419 "For SVD: Give user ability to pass backup options for cpu algo in case very different non-overlapping options"
E.g. TruncatedSVD(n_components=k, algorithm=['power','randomized'])

So one doesn't have to call power and see if fails and then calls scikit separately.

[2018-01-26 23:31] #419 closed

[2018-01-26 23:33] pseudotensor opened #422 "SVD power method not converging well"
https://github.com/h2oai/h2o4gpu/commit/7a7424f7253ea650989b9b5174e8597801d95222#diff-1a13759f63589530199630e07535c1a7R89

[2018-01-27 00:41] pseudotensor opened #424 "SVD not scikit-learn compatible enough"
E       AttributeError: 'TruncatedSVDH2O' object has no attribute '_get_param_names'

At least one issue, maybe more if fix that.

[2018-01-27 00:44] pseudotensor commented on #424
Or just bug.  The code in truncated_svd.py has def get_params() and pycharm shows that this thing is undefined.

[2018-01-27 00:54] pseudotensor commented on #424
Fixed by https://github.com/h2oai/h2o4gpu/commit/c11f97082027dc7d843de2b061b3188095546c87

[2018-01-27 00:54] #424 closed

[2018-01-27 01:35] #404 closed

[2018-01-27 01:35] #410 closed

[2018-01-27 02:45] pseudotensor opened #426 "get_gpu_info() using py3nvml is unreliable. Sometimes returns false for GPU systems."
have_gpus=False
TEST FAILED

Probably should avoid py3nvml for this and just use a cuda call.

[2018-01-29 01:42] mdymczyk commented on #399
@PlayMen it's only host -> GPU.

[2018-01-30 02:19] navdeep-G commented on #416
Related to #422

[2018-01-30 02:20] navdeep-G commented on #416
7a7424f#diff-1a13759f63589530199630e07535c1a7R89

[2018-01-30 02:20] navdeep-G commented on #422
Will close this in favor of #416

[2018-01-31 23:11] ledell opened #429 "Add parameter descriptions to Python docstrings for estimators"
The Python source files don't have adequate docstrings for the estimators (e.g [here](https://github.com/h2oai/h2o4gpu/blob/master/src/interface_py/h2o4gpu/solvers/xgboost.py#L11)).  They should explain what the function does (what software we are using under the hood) and list all the parameters, their descriptions (and type) and their allowed values.

[2018-02-01 01:38] navdeep-G opened #431 "Update family argument in ElasticNet solver"
* Update `family` argument in `ElasticNet` solver to something more obvious. For example "binomial" for logistic regression and "gaussian" for regression.

[2018-02-01 01:38] navdeep-G opened #432 "Consider splitting ElasticNet solver to ElasticNetRegressor/Classifier"
This is currently controlled through the family argument, but since we are separating regressor/classifier functions elsewhere, then maybe it makes sense to do it here as well (and hide the family arg).

[2018-02-01 01:53] ledell commented on #431
If we decide to split ElasticNet into separate regressor/classifier functions in Python/R, then maybe we could keep the family arg on the [backend](https://github.com/h2oai/h2o4gpu/blob/master/src/common/elastic_net_ptr.h) only (because it would be redundant since we only support one regression family and one classification family).

[2018-02-01 02:04] mdymczyk commented on #432
Are we? I must have missed that conversation, for which Python APIs are we doing this?

I still think for now we should stick to how Scikit is doing things and don't see any ElasticNetRegressor/Classifier there.

[2018-02-01 02:09] navdeep-G commented on #432
@mdymczyk https://github.com/h2oai/h2o4gpu/blob/master/src/interface_py/h2o4gpu/solvers/xgboost.py

And I am not sure if thats the right solution. Right now the class is called `ElasticNetH2O`. We can leave it as is or we can make the regressor/classifier classes just like we did for xgboost (as shown above).

[2018-02-01 02:10] mdymczyk commented on #432
@navdeep-G ah yes I know about those, but they are based on scikit http://scikit-learn.org/stable/modules/generated/sklearn.ensemble.RandomForestClassifier.html

[2018-02-01 02:11] navdeep-G commented on #432
@mdymczyk Yes, but it gets confusing when we have those split into two classes while others do not.

[2018-02-01 02:12] navdeep-G commented on #432
We alreayd split ElasticNet into Lasso, Ridge, Linear, Logistic.

However, the `Logistic` class is limited to scikit params. I don't believe it has the full capability of what we offer in h2o4gpu.

[2018-02-01 02:14] mdymczyk commented on #432
@navdeep-G let me put it this way: I'm ok with having more classes than Scikit has if we think they will benefit us but I also think we should have all the classes Scikit has (naming and params) for users to switch as easily as possible. Otherwise with our current baggage of rewriting scikit classes etc. it will get very messy.

[2018-02-01 02:17] navdeep-G commented on #432
@mdymczyk Yes, thats fine. But I am not doing this for scikit mainly. I am considering the R api here.

[2018-02-01 02:17] navdeep-G commented on #432
No one uses scikit in R. Its irrelevant in that regard.

[2018-02-01 02:19] mdymczyk commented on #432
@navdeep-G yes that's why I think R API shouldn't influence the Python API. I mean how many people will use both? That would be one of the very few reasons I'd consider to make both as similar as possible. Lets strive Python API to be as close to Scikit and R as close to whatever is the most commonly used R library.

[2018-02-01 02:22] navdeep-G commented on #432
@mdymczyk Not really influencing here. I am just trying to find some consistency in the R api that makes sense. So far I have not found it.

[2018-02-01 02:24] mdymczyk commented on #432
Right, that sounds good. Do you have time or are you swamped with stuff? If you're up for it, could you draft a high level API (no impl, just method signatures etc.) how you'd think it would work best? Preferably both in Python and R, since you're most experienced with both. Then we can discuss.

[2018-02-01 02:26] ledell commented on #432
@mdymczyk We can definitely do things differently in R vs Python, but since we are auto-generating the R wrappers from Python, I guess the thought is that adding class/regr classes would make this auto-generation easier.  However, we could also consider just doing the class/regr split on the R side.

[2018-02-01 02:29] navdeep-G commented on #432
@ledell @mdymczyk Lets just do the split on the R side. Seems feasible.

[2018-02-01 15:42] terrytangyuan opened #433 "Add missing `predict_proba` and `predict_log_proba` generic methods when applicable"
Add them as generic methods for now. We can also consider a single `predict()` function with argument `type = c("probability", "raw", "log_probability")` that is more old R fashioned. @ledell @navdeep-G Any preference here?

[2018-02-01 15:44] terrytangyuan opened #434 "Add script to automatically generate R API documentation"
Depend on https://github.com/h2oai/h2o4gpu/issues/429.

[2018-02-01 20:09] terrytangyuan commented on #392
WIP here: https://github.com/h2oai/h2o4gpu/tree/r-tests-autogen

[2018-02-02 03:21] ledell opened #435 "Apply lintr to all R package code"
Prior to releasing the R package, let's apply [lintr](https://github.com/jimhester/lintr) to the code and clean up any formatting issues.

[2018-02-03 15:04] terrytangyuan opened #436 "'ElasticNetH2O' object has no attribute 'error_vs_alpha_lambda'"
When I was trying to test `h2o4gpu.elastic_net_regressor`, I got the following error:

[code]

[2018-02-03 15:19] terrytangyuan opened #438 "Very verbose logs for certain models"
I haven't checked for all estimators, but this happens for `GradientBoostingRegressor`. Some example logs below:

[code]

[2018-02-03 16:30] terrytangyuan commented on #436
I might have built the Python wheel incorrectly though. Let me know if you cannot reproduce this.

[2018-02-06 02:50] #416 closed

[2018-02-06 04:24] ledell commented on #433
I think we can skip the `predict_proba()` and `predict_log_proba()` functions in the R API (at least directly exposed to the user).

We should definitely support `predict()` and so we'd just have to decide on what we'd like to output from that.

1. We could follow the H2O convention of returning:
- k+1 columns for k-class classification (first column is predicted class, additional columns are pred

[2018-02-06 18:36] ledell commented on #432
We can close this now since we did this on the R side here: https://github.com/h2oai/h2o4gpu/pull/430

[2018-02-06 18:36] #432 closed

[2018-02-07 17:20] terrytangyuan opened #442 "Add `print` method to `h2o4gpu_model` object"
Right now, if we print the model object, the output is messy and ugly. We need to clean it up.

[2018-02-07 18:23] terrytangyuan opened #443 "Methods for model persistence/checkpointing"
Is this already possible in Python API in a similar fashion to sklearn (e.g. http://scikit-learn.org/stable/modules/model_persistence.html)? What about the H2O ones? @navdeep-G

We need these methods for R API as well, e.g. invoke the correct methods for models using different implementations.

[2018-02-07 18:28] navdeep-G commented on #443
@terrytangyuan I have not looked at this in particular, but I think we should have it. Let me see if it can be done or not.

[2018-02-08 01:19] mdymczyk commented on #443
We don't have persistence yet.

Is this something we need right now for R? We can put this in the backlog but we'll have to start focusing on pre-GTC preparations first (getting current algorithms into Flow, preparing a CUDA bootcamp, maybe a 0.1v R API).

[2018-02-08 01:42] navdeep-G commented on #443
I think pre-GTC is those points you mentioned. @mdymczyk @ledell @terrytangyuan

[2018-02-08 01:43] terrytangyuan commented on #443
Sure, this isn’t R specific. It needs to be done in Python. Isn’t this a must for every users? Imagine you trained a model using GPUs for a couple days but there is no way to save and load it later? Usually for large models the training process needs to be checkpointed on a regular basis in case of failures.

[2018-02-08 01:55] terrytangyuan commented on #443
Oh for sure you guys decide priorities for this. I wasn’t aware of GTC - probably you discussed during standup this week.

[2018-02-08 02:14] navdeep-G commented on #341
Fixed

[2018-02-08 02:14] #341 closed

[2018-02-08 02:14] navdeep-G commented on #343
Not needed.

[2018-02-08 02:16] navdeep-G commented on #48
This is already in, no?

[2018-02-08 02:18] navdeep-G commented on #329
Added with power method

[2018-02-08 02:18] #329 closed

[2018-02-08 02:24] navdeep-G commented on #392
This is merged

[2018-02-08 02:24] #392 closed

[2018-02-08 02:31] #345 closed

[2018-02-08 02:40] mdymczyk commented on #354
Ideally we want to have working bindings for Java by the end of the month.

[2018-02-08 02:42] mdymczyk commented on #355
@tomkraljevic already did a bit of work for this, could go from there https://github.com/h2oai/h2o4gpu/pull/381

[2018-02-08 04:21] mdymczyk commented on #48
@navdeep-G for C/C++ yes but we still need something in Python (and possibly R?).

[2018-02-08 04:26] navdeep-G commented on #48
Yep. We should have it for those APIs.

[2018-02-08 04:32] mdymczyk commented on #48
I'm not sure what's the best practice for R but in Python we probably can just use the standard `import logging`. We just need to map the `verbosity` number to a String level representation (INFO, DEBUG etc.). Ideally we'd add a Python/R call to our C/C++ backend which would map `int -> String` according to what is hardcoded in the C code (there are definitions for those in the logger files) so we

[2018-02-08 04:38] terrytangyuan commented on #48
We just need to expose the verbosity in Python API and then we can modify it as an option in R. We can also use futile.logger package if needed.

[2018-02-08 04:40] navdeep-G commented on #48
Yes, only needs to be in python and we can use reticulate to invoke it in R

[2018-02-08 06:00] mdymczyk commented on #48
@pseudotensor yes, we just need to replace the print statements in our code for those logger calls and set the log level appropriately based on the `verbosity` level.

[2018-02-08 06:04] navdeep-G commented on #48
I can start working on this soon if that’s okay with you guys.

[2018-02-08 06:05] pseudotensor commented on #48
Copy/paste the logger setup arno did for DAI.  It's non-trivial to set it up and now it's very nice for DAI.

[2018-02-08 06:07] mdymczyk commented on #48
This isn't really very high priority, we can do this after we have tSVD in DAI and are done with preparations for GTC I think.

[2018-02-08 06:10] navdeep-G commented on #48
Sounds good. Not sure what the process of tsvd in DAI is but can check.

[2018-02-08 06:19] pseudotensor commented on #48
Agreed on priority, just laying out what would be done to someone doesn't do crazy amounts of independent work.

We should try cusolver in DAI, easy to try, just busy getting release out.

[2018-02-09 01:06] navdeep-G opened #444 "Move matrix calculations in Python for tsvd to CUDA"

[2018-02-12 22:31] #442 closed

[2018-02-12 23:30] navdeep-G commented on #422
Issue here: https://github.com/h2oai/h2o4gpu/blob/master/tests_open/svd/test_tsvd_wrapper.py#L60

[2018-02-13 14:10] terrytangyuan opened #447 "Properly skip tests on CRAN"
To prepare CRAN submission

[2018-02-13 23:13] CoderCoderCoder opened #448 "Compiling from sources on arm64 architecture?"
Hello,

as I couldn't post this question on StackOverflow (requires 1500 reputation), I am asking about it here.
I am trying to install H2O GPU on arm64 Jetson TX1 machine. Unfortunately `make install` results in the following error:

    pip install dist/h2o4gpu*.whl --upgrade
    h2o4gpu*.whl is not a valid wheel filename.

Is there a wheel file for arm64 architecture available, and if not how c

[2018-02-14 05:33] mdymczyk commented on #448
Hey @CoderCoderCoder ! We do not provide arm64 builds unfortunately.

As for building the project from source - are you building the latest master?

I'm not very familiar with your setup but the `h2o4gpu*.whl is not a valid wheel filename.` error would suggest that something is wrong with the wheel:

1) it either did not built properly and is not in the `dist` folder
2) your system does not suppor

[2018-02-14 06:00] pseudotensor commented on #448
Can you  do the following:

make fullinstall &> out.txt

And post the zipped-up version of out.txt.

Thanks!

[2018-02-14 16:58] navdeep-G opened #450 "Possible bug in explained variance/ explained variance ratio"
The differences I am seeing with explained variance and explained variance ratio between CUDA and Python. Done on a 5000 by 50 matrix with k = 2:
Calculation in Python
[code]
Calculation in CUDA:
[code]

[2018-02-14 16:59] navdeep-G commented on #450
@RAMitchell Any ideas?

[2018-02-15 13:39] CoderCoderCoder commented on #448
You can find the output below, but I have to comment on a few things:
1) I had to replace "python" with "python3" everywhere in makefile
2) I commented out the removal of xgboost as I just built it from sources anyway
3) I used "make install" as "make fullinstall" tries to uninstall everything and results anyway in the same error
4) I have uncommented the line "python setup.py install" and changed

[2018-02-15 16:04] terrytangyuan opened #451 "Resolve CRAN CMD check warnings"
Resolve warnings from `devtools::check()`

[2018-02-15 16:20] terrytangyuan commented on #434
Note that reticulate's `reticulate::py_function_docs(python_function)` that we are currently using to generate the wrappers could generate the API documentation for parameters directly if our classes/functions are written in TensorFlow's style (example [here](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/estimator/estimator.py#L364)).

The mechanics are:

* `Args` -> `@par

[2018-02-15 16:32] terrytangyuan commented on #433
Thanks @ledell!

I propose that we stick with the `type` argument for [caret's `predict()` method](https://www.rdocumentation.org/packages/caret/versions/5.05.004/topics/predict.train) since it's more unified across different R libraries.

"A vector of predictions if type = "raw" or a data frame of class probabilities for type = "probs". In the latter case, there are columns for each class."

So o

[2018-02-15 16:35] terrytangyuan commented on #433
Regarding @ledell 's concern on probability:

"One concern I have about using predict_proba() underneath to produce probabilities is that it only works for sklearn models which is probably not what people will be using 95% of the time, and also requires much more computation. So my opinion would be not enable a type option which attempts to call either predict_proba() predict_log_proba() underneat

[2018-02-15 18:45] pseudotensor opened #453 "Use $(PYTHON) -m pip not pip"
mmalohlava 17 minutes ago  Owner
Reacting to reported feedback from OOS: why pip is hard coded here? the same for python.

It is easier to depend on PYTHON variable which can be redefined by a caller and instead of pip it is possible to use $(PYTHON) -m pip . Quite flexible, helped in DTBL a lot.

      @pseudotensor
pseudotensor 35 seconds ago  Member
Ya, may be good to change. I'm used to using

[2018-02-15 18:53] pseudotensor commented on #448
The "errors" related to uninstalling packages are ignored and that's fine.  The errors after "running build_py" shouldn't be there.  But, without full logs (see above request) I can't tell what is wrong. Thanks!

[2018-02-15 20:56] CoderCoderCoder commented on #448
Thanks for your reply! This is exactly the full log of "make install". There is nothing beyond this log...

[2018-02-18 02:04] ledell commented on #433
@terrytangyuan Yes, you'd have to use sklearn's implementation of [Platt scaling](http://docs.h2o.ai/h2o/latest-stable/h2o-docs/data-science/algo-params/calibrate_model.html) to get the calibrated probabilities which are returned by `predict_proba()`, unless we wrote our own implementation inside of H2O4GPU (which is not on the roadmap right now).  Here's some more info about why the predictions a

[2018-02-19 17:18] terrytangyuan commented on #433
I am okay with returning everything. My only concern about returning everything is that this will involve two for-loops (or one for-loop plus a [vector operation](https://github.com/h2oai/h2o4gpu/blob/master/src/interface_py/h2o4gpu/solvers/xgboost.py#L164-L165)) underneath where sometimes user don't want everything but they care about performance during inference time. It's not too much of an ove

[2018-02-20 18:10] spaszek commented on #239
Hello @teju85
is there already a PR regarding this issue we could follow?

[2018-02-20 22:28] mdymczyk commented on #239
Czesc @spaszek :-)

From what I remember @teju85 got a bit sidetracked with other work related issues so I wouldn't count on getting DBSCAN in the nearest future but let me follow up with him and see what we can do :-) Are you using DBSCAN in production? What would be your use case - how many GPUs are you guys using? What's your data size? We're trying to figure out what the users might need.

[2018-02-20 23:25] #447 closed

[2018-02-21 14:05] spaszek commented on #239
Oh, okay - I was under the impression you guys would have DBScan ready at Q1 2018 (as said in the post here  https://blog.h2o.ai/2017/12/h2o4gpu-hands-lab-video-updates/ ) :P

To be honest, we are not using DBScan anywhere(yet) - I am just looking around for alternatives to `scikit-learn` in case its implementation would be not sufficient for us. It is kinda hard to measure our data size and GPU r

[2018-02-21 14:30] teju85 commented on #239
Hi @spaszek ,
Sorry, there are currently no PR's for this ready from my side, yet. Like @mdymczyk mentioned, I got distracted with other items and couldn't get to this after the implementation of neighborhood calculation. :(

I'm hopeful of getting back to this soon, though.
Regards

[2018-02-21 19:34] CoderCoderCoder commented on #448
Any ideas? As I said - this is the full output of the "make install" command... Thanks!

[2018-02-21 23:06] ledell opened #456 "Move jenkins files into a subfolder"
We currently have a bunch of jenkins files in the top level of this repo.  Let's move this to a folder (`./jenkins/`?).  Also the jenkins config should be updated to match the new location.

[2018-02-21 23:09] ledell opened #457 "Update README.md to include R installation"
Once we're ready to release the R package for the first time, let's add some instructions to the main `README.md` file for this repo, to tell users how to install in R.  We can keep this short and link to to the R-specfic [README.md](https://github.com/h2oai/h2o4gpu/blob/master/src/interface_r/README.md) for more detailed instructions.

[2018-02-22 03:32] mdymczyk commented on #239
@spaszek our roadmap is more of a blueprint than anything set in stone unfortunately as we're heavily understaffed :(

I'm actually working on Java bindings (using SWIG) as we speak and hope to have it integrated with h2o-3/flow before GTC next month (so you'll be able to use it through h2o-3 or just as standalone h2o4gpu4java lib:-). This will have certain limitations, though, as our GPU implemen

[2018-02-22 10:33] mdymczyk commented on #239
@spaszek getting Java bindings should be easy and I will probably have it working by the end of the week/next week. But if you want to use it through H2O-3 or Sparkling Water we'll have to somehow integrate that and there are 2 ways to do that:

1) write Java model classes for each of the h2o4gpu algorithms, there's some example classes for that here https://github.com/h2oai/h2o-3/tree/master/h2o-

[2018-02-22 11:07] spaszek commented on #239
great, thanks @mdymczyk

I would love to contribute to that if possible - please don't forget to mention me when you guys settle for a solution. I just started using h2o (and sparkling water) extensively. Contributing to the project would be a good way of learning how to actually use the library (as well as speeding you guys up a little in the process).

[2018-02-22 15:38] #451 closed

[2018-02-25 06:06] ledell opened #460 "Add a vignette to the R package"
We should have a simple vignette showing how to use the package in the **h2o4gpu** R package.

[2018-02-28 15:09] teju85 commented on #35
@mdymczyk @pseudotensor
We did discuss about implementing KF as one of the solvers inside h2o4gpu quite sometime back. The more we read and gather info from the experts (in HPC/ML alike), the more we see KF as a generic algorithm.

Let me explain.

Everyone has their own way of data assimilation and as such, there are a myriad of variants of KF’s  (Wavelet KF, linear KF, LETKF, etc…) The only comm

[2018-02-28 20:59] #347 closed

[2018-03-01 10:03] ben-campbell commented on #257
I see this error when attempting to run H2O4GPU on a fresh AWS node, Ubuntu 16.0.4, g3.4x (1 NVIDIA M60).

Here are my steps:

### NVIDIA CUDA:

Dependencies:

[code]

NVIDIA CUDA 9.1 — check [here](https://developer.nvidia.com/cuda-downloads) for up-to-date links:

[code]

Verify drivers installed:

[code]

### Python

To install Python3.6 via apt-get on Ubuntu 16.0.4:
[code]
### H2O4GPU

Depende

[2018-03-01 12:04] mdymczyk commented on #257
@ben-campbell we don't support CUDA 9.1, only 9.0. This might be one reason. Also I'm assuming this `pip install h2o4gpu-0.1.0-py36-none-any.whl` is a typo and you are actually installing the `0.2.0` you downloaded with wget?

[2018-03-01 18:19] ben-campbell commented on #257
@mdymczyk yes, it was simply CUDA 9.1 vs. 9.0... d'oh.

The above is now correct (just tested on a fresh AWS Ubuntu 16.0.4 g3.4x instance).  It might be a good idea to add this to the docs, to ease the install on AWS for others.

[2018-03-01 18:19] #257 closed

[2018-03-02 16:57] navdeep-G opened #463 "Split PCA into float and double precision"

[2018-03-02 17:04] navdeep-G opened #464 "Add instructions for installing h2o4gpu on AWS"

[2018-03-02 19:17] arunsrinivasan commented on #257
I'm trying to get the test code to run on an Amazon P3 instance. I get the `ch2o4gpu_gpu.so failed to load` issue.. I've been at this for a while now, and would really appreciate any pointers...

Here are the details:

### Amazon P3 instance with Tesla V100

[code]
### CUDA version and ./deviceQuery output (which PASSes)

[code]

### NVIDIA graphics driver

[code]

### glibc and gcc version

[code

[2018-03-02 22:34] terrytangyuan commented on #434
FYI, I added support of Sphinx style documentation in reticulate. We should be able to just call `reticulate::py_function_docs(python_function)` (what we are using in `gen_wrapper ()`) to autogenerate the R documentations now.
Note that you'll need to `pip install docutils` in order to make it work.

e.g.
[code]

Some of the available items from the result of `reticulate::py_function_docs` can be

[2018-03-03 09:52] mdymczyk commented on #257
@arunsrinivasan this is because the system you're trying to run uses glibc 2.17. We are building with Ubuntu 16.04 which (iirc) uses glibc 2.23 (or some other 2.2x). If your system has binaries for glibc 2.23+ you'd need to upgrade. Some distros (like Centos or RHEL) don't. In such a case you'd have to build the project yourself (clone the repo and run `make fullinstall`). We'll have more generic

[2018-03-03 12:19] ben-campbell commented on #464
I just documented this for sales engineering a couple days ago:

# H2O4GPU Installation

This describes how to install H2O4GPU on a fresh AWS Ubuntu 16.0.4 GPU instance (tested on g3.4x, which has one Tesla M60).

### NVIDIA CUDA:

Dependencies:

[code]

NVIDIA CUDA 9.0 — check [here](https://developer.nvidia.com/cuda-downloads) for up-to-date links (note that, as of 03/01/18 H2O4GPU does not supp

[2018-03-03 13:22] arunsrinivasan commented on #257
@mdymczyk thanks for the quick reply. Will try that and write back.

[2018-03-03 17:09] navdeep-G commented on #464
@ben-campbell Yep, will add that in. Thx!

[2018-03-03 23:50] mdymczyk commented on #464
@ben-campbell @navdeep-G do we really need to add this to the repo? The first and last paragraphs are pretty much repeating https://github.com/h2oai/h2o4gpu#requirements and https://github.com/h2oai/h2o4gpu#user-installation. If possible I'd like to keep OS specific instructions in this repo to the bare minimum (like `sudo apt-get install libopenblas-dev pbzip2`) as in the (hopefully) near future

[2018-03-04 00:25] navdeep-G commented on #464
@mdymczyk I feel it’s not a big deal to have in the repo. I already have it in a branch. I can maintain it if needed.

[2018-03-04 00:26] navdeep-G commented on #464
Maybe the q is why @ben-campbell had to make the instructions. Are we missing something?

[2018-03-04 00:53] #464 closed

[2018-03-04 19:50] ben-campbell commented on #464
i don't think it's necessary for the repo... It's kind of redundant, I agree.

[2018-03-08 12:18] mdymczyk opened #468 "CUDA 9.1 support"
CUDA 9.1 is not backwards compatible with 9.0. Currently it is failing to build/run with several errors. Need to look into why exactly and how to fix them.

We also need to figure out if/how we want to support both 9.0 and 9.1 at the same time.

[2018-03-08 19:24] terrytangyuan commented on #434
Looks like the current style of docs is still not supported yet, e.g. :
[code]
The only tested styles can be found [here](https://github.com/rstudio/reticulate/blob/master/tests/testthat/test-help-handlers.R) and [the first style](https://github.com/rstudio/reticulate/blob/master/tests/testthat/test-help-handlers.R#L6-L26) is what we want to stick with.  Let's change our docs to that style then.

[2018-03-09 08:29] #429 closed

[2018-03-10 01:23] navdeep-G commented on #353
Is this still an issue? @mmalohlava @abal5 ?

[2018-03-10 01:31] #396 closed

[2018-03-10 01:31] navdeep-G opened #472 "Add verbose option to PCA"

[2018-03-11 18:07] #434 closed

[2018-03-12 19:09] terrytangyuan opened #477 "Fix R CMD check warnings"
All warnings need to be fixed before submitting to CRAN. Here's the current output of R CMD check:

[code]

[2018-03-12 20:06] terrytangyuan commented on #477
@navdeep-G Could you help look into the following ones?
[code]

[code]

[2018-03-12 21:37] mdymczyk commented on #353
@navdeep-G @mmalohlava last few times I checked it was not the case so closing. Reopen if they do still leak.

[2018-03-12 21:37] #353 closed

[2018-03-12 21:41] mdymczyk commented on #472
@navdeep-G think we need this for 0.2.0?

[2018-03-12 21:44] mdymczyk commented on #463
Like with verbose for PCA, think we can get this done this week or should we move to 0.2.1 milestone?

[2018-03-12 21:45] mdymczyk commented on #450
Is this still the case or did your latest changes fix it? @navdeep-G

[2018-03-12 21:46] mdymczyk commented on #438
We need to double check it this week before release if still happens.

[2018-03-12 21:47] mdymczyk commented on #435
Did I get it correctly during standup - are we already doing this? @ledell @terrytangyuan

[2018-03-12 21:48] terrytangyuan commented on #435
Nope but this should be very low priority.

[2018-03-12 21:53] mdymczyk commented on #187
I thought you already fixed this, @navdeep-G ?

[2018-03-12 23:07] navdeep-G commented on #472
@mdymczyk I don't think its a show stopper. If I can get to it I will add it.

[2018-03-12 23:07] navdeep-G commented on #463
@mdymczyk I don't think its a show stopper. If I can get to it I will add it. Would be nice to have.

[2018-03-12 23:07] navdeep-G commented on #450
@mdymczyk I need to double check that to see how it behaves in CUDA

[2018-03-12 23:07] navdeep-G commented on #438
@mdymczyk Yes, will double check

[2018-03-12 23:08] navdeep-G commented on #187
@mdymczyk Don't recall fixing this.

[2018-03-12 23:32] navdeep-G commented on #477
@terrytangyuan Yep, can take a look at those warnings.

[2018-03-13 01:09] ledell commented on #435
@mdymczyk Did you mean to apply the "priority:high" label?  This is low priority.

[2018-03-13 01:14] navdeep-G commented on #435
Yes, low priority. Removed for now.

[2018-03-13 01:32] navdeep-G opened #479 "Add verbose and gpu_id parameters to PCA"
* The following parameters should be added to PCA
[code]

[2018-03-13 01:32] navdeep-G commented on #472
Closing in favor of #479

[2018-03-13 01:32] #472 closed

[2018-03-13 01:32] navdeep-G commented on #415
Closing in favor of #479

[2018-03-13 01:33] #415 closed

[2018-03-13 09:43] mdymczyk commented on #435
@ledell I added the high priority label to all 0.2.0 milestone issues we really want/need in this release - if it's not necessary for R (not sure if its needed for CRAN submission) then indeed we can remove that label.

[2018-03-13 09:44] mdymczyk commented on #187
@navdeep-G hm thought it was very old issue and got resolved but will run the testcase to make sure.

[2018-03-13 09:45] mdymczyk commented on #463
Yup, definitely one of the issues we can move to 0.2.1 if necessary.

[2018-03-13 13:29] brycelelbach commented on #468
Any update on this?

[2018-03-13 15:14] brycelelbach commented on #468
The compilation failure is happening because Thrust switched to a new `reduce` implementation (based on CUB) in CUDA 9.1. Specifically, this `transform_reduce` call fails:

https://github.com/h2oai/h2o4gpu/blob/master/src/gpu/include/cml/cml_blas.cuh#L155

`cub::DeviceReduce` which uses `<<<,>>>` to launch kernels, even in the device side code (cnp). `<<<,>>>` in device side launch rejects kernels

[2018-03-13 15:16] brycelelbach commented on #468
[code]

I think `Square` is the issue because the iterator's data types are builtin types for the failure I see, although fancy iterators are used...

[2018-03-13 21:29] terrytangyuan commented on #436
I don't think I see this anymore. Might have been a corrupted wheel or something. Closing for now.

[2018-03-14 00:34] mdymczyk commented on #468
@brycelelbach we decided to only support 8.x and 9.0 for this release (0.2.0 which is planned for 26.03). We'll look into supporting newer CUDA versions after GTC, sorry for the inconvenience.

[2018-03-14 23:53] #479 closed

[2018-03-15 01:35] #457 closed

[2018-03-16 01:10] #450 closed

[2018-03-16 01:39] bnu-unipus opened #484 "import error"
when i  try import h2o4gpu after import pygdf.
an import error is arised:

**ImportError: /home/u/anaconda3/lib/python3.6/site-packages/pyarrow/libarrow_python.so.0: undefined symbol: _ZTIN5arrow2io8WritableE**

[2018-03-16 06:29] mdymczyk commented on #484
@bnu-unipus this looks like anaconda issue (and a quick google seems to confirm this). Also, even though we have one old build for anaconda, we do not support and test it ourselves.

[2018-03-16 06:29] #484 closed

[2018-03-16 19:54] navdeep-G commented on #433
Is this still an issue?

[2018-03-16 19:57] terrytangyuan commented on #433
Right now only `predict()` is exposed to R with the same behavior as Python API's `predict()`. I don't think it's a priority though.

[2018-03-17 03:22] mdymczyk opened #485 "Fail build when version data is incomplete"
Current Makefile won't fail the build even if certain information for the VERSION.txt is missing. For example certain build machines were missing the git suffix, you could see in the logs Python complaining about incorrect versioning but the build passed. We should fail in such cases.

[2018-03-17 08:39] mdymczyk commented on #362
Moving to 0.2.1 tentatively, since it's not a bug per se need to figure out what to do with it.

[2018-03-21 02:09] navdeep-G commented on #436
Saw this again today. Reopening

[2018-03-21 18:02] ledell commented on #438
@mdymczyk @terrytangyuan @navdeep-G I still see this when I run in R.  Can we get this resolved before GTC?

[code]

[2018-03-21 19:49] ledell commented on #433
I am going to close this, as it's been resolved in this PR: https://github.com/h2oai/h2o4gpu/pull/489

[2018-03-21 19:49] #433 closed

[2018-03-21 20:21] pseudotensor commented on #438
you see that from xgboost if one sets debug_verbose non-zero and silent False

[2018-03-21 20:45] ledell commented on #436
@terrytangyuan @navdeep-G This appears to be an R issue only.  The error does not occur in Python (at least in this [demo](https://github.com/h2oai/h2o4gpu/issues/436)).

[2018-03-21 21:05] ledell commented on #436
Repro:

[code]

[2018-03-21 21:56] navdeep-G commented on #477
Top of master:
[code]

[2018-03-21 22:23] ledell opened #493 "Random Forest regressor producing really bad results"
There is an issue with the performance of the Random Forest regressor.  I have found that the results are very bad compared to GBM and also to the **randomForest** R package.

[code]

Another dataset:
[code]

[2018-03-21 22:30] terrytangyuan commented on #477
[code]
^ just confirmed the problem is within its `svd_solver` arg description (changing it to something simply would fix this). Could you take a shot at fixing them in Python doc and then regenerate its R doc?

I'll continue looking into other ones

BTW, pushed a branch `cran-prep` so you can run `devtools::check_man("src/interface_r/")` to reproduce the doc warnings more quickly instead of `devt

[2018-03-21 22:34] terrytangyuan commented on #477
[code]
^ these warnings are generated because `family` is not in the function signature of those elastic net estimators but they appear in the roxygen docs.

[2018-03-21 23:00] terrytangyuan commented on #477
Ok, I pushed some fixes to `cran-prep` branch that should resolve all the warnings. I also pushed some temporary fixes to `h2o4gpu.elastic_net_classifier`, `h2o4gpu.elastic_net_regressor`, and `h2o4gpu.pca` that **ONLY serves as examples for you**.

@navdeep-G Please take a look at those example fixes in `h2o4gpu.elastic_net_classifier`, `h2o4gpu.elastic_net_regressor`, and `h2o4gpu.pca`, modify P

[2018-03-22 01:48] #438 closed

[2018-03-22 02:10] ledell commented on #436
Fixed by: https://github.com/h2oai/h2o4gpu/pull/492

[2018-03-22 02:10] #436 closed

[2018-03-22 03:20] #477 closed

[2018-03-22 03:59] ledell opened #496 "Predict type = "prob" not working for GBM and GLM in R"
The `predict(model, test, type = "prob")` functionality is not working for GBMs and GLMs at the moment (two separate errors).

Example:
[code]

GBM:
[code]

GLM:
[code]

[2018-03-22 16:02] mdymczyk commented on #496
@ledell do you think this is Python or R related? `predict_proba` in Python is a method, so should be always present in `ElasticNet` (the previous errors I fixed yesterday were on object properties, which were not set in `__init__` bu instead something like `self.property = value` was done in `fit()`....).

[2018-03-22 16:49] terrytangyuan commented on #496
I think I know what the problem is. I will submit a PR so you can test again.

[2018-03-22 16:51] terrytangyuan commented on #496
Wait, nvm, is this only happening to those two estimators?

[2018-03-22 16:53] ledell commented on #496
@terrytangyuan Can you also make change to `type = c("raw", "prob")` and `type <- match.arg(type)` while you're in the predict code?

[2018-03-22 16:54] ledell commented on #496
I think the Elastic Net one is Python related and the GBM bug is probably R code.

[2018-03-22 17:00] terrytangyuan commented on #496
I am not sure if this fixes it but could you try the change in this PR? https://github.com/h2oai/h2o4gpu/pull/498

[2018-03-22 17:37] ledell opened #499 "Weird output for Elastic Net function in R"
When running Elastic Net classifier or regressor, we can get these logs that say other algos are being run and also we have this ugly deprecation warning.  Let's try to clean this up.  This does not happen with other algos.

[code]

Repro:
[code]

[2018-03-22 17:49] ledell commented on #499
Yes that captures it:
[code]

[2018-03-22 17:58] mdymczyk opened #501 "Python version hardcoded in code."
`__init__.base.py` has version hardcoded, it should be taken from either `__about__.py` or directly from `BUILD_INFO.txt`.

[2018-03-22 18:15] terrytangyuan commented on #496
Think I located the problems:

Problem with GLM (on R) is that only `ElasticNetH2O` has `predict_proba`. `ElasticNet` does not have it.

Problem with GBM (on Python) is this piece of code: https://github.com/h2oai/h2o4gpu/blob/master/src/interface_r/R/model.R#L98

@navdeep-G Could you go from here?

[2018-03-22 18:26] navdeep-G commented on #496
@terrytangyuan Yep, I mentioned that last night. Sorry for the wild goose chase.

[2018-03-22 19:55] mdymczyk opened #504 "C/C++ examples status"
Current state of C/C++ examples:

- no documentation
- not checked with CI

Do we want to keep maintaining them?

[2018-03-22 22:32] ledell opened #505 "Add multinomial support to GLM"
Our Elastic Net classifer does not support multinomial (it only supports binary classification).  This can be added as part of the GLM rewrite.

[2018-03-22 22:50] ledell commented on #499
This should be fixed by: https://github.com/h2oai/h2o4gpu/pull/503

[2018-03-23 01:09] #496 closed

[2018-03-23 13:43] #499 closed

[2018-03-23 13:43] #460 closed

[2018-03-23 15:11] #53 closed

[2018-03-23 15:12] navdeep-G commented on #349
I think this is done? @stjoern ?

[2018-03-23 15:12] navdeep-G commented on #358
Don't we have this already?

[2018-03-23 15:16] navdeep-G commented on #24
Closing as we are going to utilize xgb glm soon

[2018-03-23 15:16] #24 closed

[2018-03-23 15:36] navdeep-G commented on #78
Closing for xgb glm

[2018-03-23 15:36] #78 closed

[2018-03-23 15:38] navdeep-G commented on #40
Closing for xgb glm

[2018-03-23 15:38] #40 closed

[2018-03-23 15:39] navdeep-G commented on #32
Can be used in xgb glm

[2018-03-23 15:40] navdeep-G commented on #39
This should be a JIRA for h2o-3 ?

[2018-03-23 15:40] #39 closed

[2018-03-23 17:55] meganjkurka opened #508 "Update GLM Demo to use predict_proba"
In the H2O4GPU_GLM demo, the predictions are calculated by calling predict on the GLM model.  This returns the class predictions, not the probability predictions, and causes the calculated logloss to be Inf.

Change the demo to return the predicted probability instead of predicted class.

[2018-03-23 17:58] meganjkurka commented on #508
Fixed by https://github.com/h2oai/h2o4gpu/pull/509

[2018-03-24 14:23] terrytangyuan opened #510 "Update R package installation instruction"
- Include CRAN installation instruction
- Add info about using virtual environments

[2018-03-24 14:24] terrytangyuan opened #511 "Setup pkgdown documentation page for R package"
This includes index page, tutorials, and API reference page.

[2018-03-24 14:26] terrytangyuan opened #512 "Revisit R package tests infrastructure setup"
Current issues:

* CI does not fail if some of the R tests fail
* Error messages are hidden from the tests setup

[2018-03-24 23:20] navdeep-G opened #513 "Add util to prep data for h2o4gpu R package"
* Data needs to be numeric for all algos

[2018-03-24 23:23] navdeep-G opened #514 "Add util to prep data for h2o4gpu python package"

[2018-03-26 17:46] pseudotensor opened #515 "segfault when using kmeans"
[code]

Running on 8GPU ec2 instance.

bt shows:
[code]

[2018-03-26 17:48] pseudotensor commented on #515
https://support.h2o.ai/helpdesk/tickets/91930

[2018-03-26 17:49] pseudotensor commented on #515
as GPUs ramped up: ![image](https://user-images.githubusercontent.com/2249614/37923152-4d34fcf6-30e3-11e8-826c-e51dd93d19ad.png)

GPUs going:

![image](https://user-images.githubusercontent.com/2249614/37923181-5df26772-30e3-11e8-9cfb-3ea3fe834669.png)

[2018-03-26 21:13] ledell commented on #514
@navdeep-G What kind of data prep?  I assume you mean things like label encoding, one-hot encoding & imputation?  Can we just expose the Scikit-learn methods for this, or do we need to write new methods from scratch?

[2018-03-26 21:17] navdeep-G commented on #514
I was thinking of utilizing py datatable somehow.

[2018-03-26 22:26] ledell commented on #514
@navdeep-G It would be ideal to use py datatable on the backend, while keeping the scikit-learn API.  Here's a list of all the scikit-learn preprocessing methods that we could use (and fall back to scikit-learn when GPU not supported?): http://scikit-learn.org/stable/modules/classes.html#module-sklearn.preprocessing

[2018-03-26 22:47] mdymczyk opened #516 "Improve versioning for bleeding edge releases"
We'd need a way to mark builds/versionins as bleeding edge.

Ideas:

1) ~~append 9999 at the end for BE~~

2) even/odd numbering

Can't use git_hash because of R.

EDIT: added 9999 to the version, not closing as we still need to figure out a way to easily get the build number and/or build date.

[2018-03-26 22:50] navdeep-G commented on #516
For R we can do the following:
Start with 0.2.0.9000 upon first arrival for CRAN and then increment from there, e.g. 0.2.0.9001 for a new commit, etc. and then if it’s stable enough we do 0.2.0.9999 and then release 0.2.1

For Python maybe do the same or go the git hash route? I guess consistency is preferred at this point...

[2018-03-26 23:11] navdeep-G commented on #516
Some points from @ledell:
[code]

[2018-03-26 23:21] navdeep-G commented on #514
Yes, but both operations are CPU. So no need to fallback.

[2018-03-26 23:32] tomkraljevic opened #517 "Add support for Windows platform"
This issue is meant to measure the interest level of the community for Windows platform support.
Please express your interest by putting a +1 in the comments.

[2018-03-28 02:14] navdeep-G opened #520 "Utilize CUDA to get explained variance and explained variance ratio in Truncated SVD"

[2018-03-28 17:51] pseudotensor opened #522 "CPU backup for SVD fails"
e.g.

Few ways to get different errors for svd:
1) sudo mv /usr/local/cuda-9.0 /usr/local/asdf # temporarily, and then run make testquick
2) CUDA_VISIBLE_DEVICES= make testquick
3) Have cuda9.1 or some other cuda when was compiled against cuda9.0 also leads to same failure

For option #3 get:
[code]

For option #2 many tests fail, so some work to do for everyone.

[2018-03-28 17:56] pseudotensor opened #523 "CUDA_VISIBLE_DEVICES= make testquick fails most tests"
fails most tests:

=== 105 failed, 23 passed, 11 skipped, 14 warnings, 47 error in 74.01 seconds

[2018-03-28 18:07] navdeep-G opened #524 "Add ability to mark tests as gpu/cpu only"

[2018-03-28 20:35] pseudotensor commented on #515
I also notice constant changes in allocation amount during a working run.  Need to use fixed allocation.

[2018-03-28 20:37] pseudotensor commented on #515
[code]
Also fails.  But

[code]
does  not fail.

[2018-03-28 20:58] ledell commented on #514
@navdeep-G I thought py datatable was GPU capable?

[2018-03-28 21:57] szilard opened #525 "R package GBM cannot handle sparse matrices (xgboost can)"
- **OS platform**: Linux Ubuntu 16.04
- **Installed from (source or binary)**: Python wheel + R package
- **Version**: 0.2-nccl-cuda9/h2o4gpu-0.2.0-cp36-cp36m-linux_x86_64.whl
- **Python version (optional)**: 3.6
- **CUDA/cuDNN version**: 9.0
- **GPU model (optional)**: EC2 p3.2xlarge (Tesla V100)
- **CPU model**: Intel(R) Xeon(R) CPU E5-2686 v4 @ 2.30GHz
- **RAM available**: 60GB

Train on airlin

[2018-03-28 22:24] ledell commented on #525
Thanks @szilard.  This should be an easy fix.  We got a little too aggressive on the type checking. ;-)

[2018-03-28 22:25] szilard commented on #525
Sounds great :)

[2018-03-28 22:39] ledell commented on #525
@szilard We just chatted about this and @terrytangyuan pointed out that reticulate does not yet support sparse matrices, so we will have to patch reticulate to fix this.

[2018-03-28 22:39] navdeep-G commented on #525
Hi,

It seems the R package does not support matrix of type`dgCMatrix` at the current moment. This is because `reticulate` itself does not handle this type of matrix.

One potential solution is to cast the matrix to type `matrix` -> `as.matrix(m)`.

cc @ledell @terrytangyuan

[2018-03-28 22:40] ledell commented on #525
@navdeep-G I think it would be best to wait for the fix to reticulate instead of allowing people to assume that we are fully supporting sparse matrices when we don't.

[2018-03-28 22:43] navdeep-G commented on #525
Yes, I meant a user can cast themselves.

[2018-03-28 22:48] pseudotensor commented on #334
Even larger works, although slow.

![image](https://user-images.githubusercontent.com/2249614/38060274-e8b1d340-329e-11e8-8b29-b0d5cb5c5a5f.png)

spends most of the time on the CPU doing single-threaded work.  Pokes on the GPU (1 at a time) sometimes.

Only after a while does it do use all GPUs in parallel:

![image](https://user-images.githubusercontent.com/2249614/38060353-2713b0ea-329f-11e8-859

[2018-03-28 22:49] szilard commented on #525
Ah, OK.

Btw, I'm gonna give it a try in Python, that should be able to take advantage of sparse representation, right?

[2018-03-28 22:52] navdeep-G commented on #525
@szilard Yes, that should be able to pass the data. If it doesn't please let us know in another issue and I can investigate. Thx!

[2018-03-29 00:18] pseudotensor commented on #334
[code]

[2018-03-29 00:59] #520 closed

[2018-03-29 06:51] #334 closed

[2018-03-29 08:43] pseudotensor commented on #334
[code]
Couldn't do 1 GPU, wouldn't fit. Could redo, but too late.

So at least not slower with 8 GPUs, but not much faster.  Mostly limited by transfer and kmeans|| I think, but probably other improvements can be made.

Also can do big problem not possible on less GPUs:

![image](https://user-images.githubusercontent.com/2249614/38078915-9740eb32-32f2-11e8-9d3c-9020664d5dba.png)

[2018-03-29 11:50] szilard commented on #525
Here are the results from Python (using sparse matrices in 1-hot encoding):

h2o4gpu: 11 sec
xgboost: 8 sec

h2o4gpu code: https://github.com/szilard/GBM-perf/blob/master/wip-testing/h2o4gpu/run.py
xgboost code: https://github.com/szilard/GBM-perf/blob/master/wip-testing/h2o4gpu/xgboost.py

[2018-03-29 17:26] terrytangyuan commented on #525
@szilard Is this CPU result? BTW, I am adding support for sparse matrix in reticulate. Will update this issue when it's ready.

[2018-03-29 17:43] szilard commented on #525
No, all timings in this GitHub issue is on GPU (Tesla V100 on EC2 p3.2xlarge)

[2018-03-29 17:47] jtelleria opened #529 "R API Funding: R Consortium Call for Proposals"
Dear H2O.ai Developers,

At this moment, the R Consortium is doing a call for those R Projects which will have a broad impact in the R Community:

I consider that h2o4gpu can be one of such projects, so I propose that we complete the paperwork for supporting economically the h2o4gpu R Package:

https://www.r-consortium.org/projects/call-for-proposals

We have till 1st May to Complete such project

[2018-03-29 17:59] jtelleria opened #530 "R API h2o4gpu::install_h2o4gpu missing"
One of the points it was discussed when it was decided to develop the h2o4gpu R API through RStudio's reticulate R package was to provide a function for installing the python environment easily from R, but such function in this first release of the h2o4gpu R Package is missing.

I would propose to develop such function: h2o4gpu::install_h2o4gpu():

https://cran.r-project.org/web/packages/keras/ker

[2018-03-29 18:04] jtelleria commented on #529
If necessary, I can complete such request forms by myself, as I think it will help to push forward this project.

[2018-03-29 18:25] terrytangyuan commented on #529
@jtelleria This package is based on top of Python through reticulate so I doubt that there will be too much work on the R side (most of the core pieces are already there).

[2018-03-29 23:31] pseudotensor commented on #515
8GPU ec2 getting segfault with kmeans images demo.  Using n_gpus=8 on 2 GPU system doesn't fail the same way, even though logically same.

[code]

[2018-03-30 00:04] pseudotensor commented on #515
If I remove the #pragma omp parallel for we added, then the issue goes away.  So I'll have to check each one and fix how the threading is done.

[2018-03-30 00:10] ledell commented on #529
@jtelleria Thanks for the idea, but as @terrytangyuan mentioned, most of the R code is auto-generated so all the new development is on the Python side.  The **h2o4gpu** project is already supported by H2O.ai, and I think the R Consortium funding would be better used on open source projects without corporate backing.

[2018-03-30 00:10] #529 closed

[2018-03-30 03:06] ledell opened #532 "Enable cross-validation of estimators"
Let's figure out if we can use [scikit-learn's CV functions](http://scikit-learn.org/stable/modules/cross_validation.html) to perform cross-validation of the estimators, while still training on GPUs.  Once we sort this out, let's create a Python tutorial that shows how to do this.

After this is working on Python, we can add to R (in a separate issue).

[2018-03-30 03:15] ledell opened #533 "Add the Stacked Ensemble algorithm"
We should implement stacking, as there are not many (if any) stacking implementations for GPUs.  This will require writing wrappers in Python and then adding some code to the R autogen script to port into R.  This also first requires that we enable cross-validation for all the estimators.  https://github.com/h2oai/h2o4gpu/issues/532

Scikit-learn does not yet have a stacking implementation (it see

[2018-03-30 03:42] navdeep-G commented on #533
We can always start utilizing known tools today and iterate. Thoughts?

[2018-03-30 16:02] navdeep-G opened #534 "Add R CMD check to build"
* The build should do a routine R CMD check to avoid last minute issues when it comes to CRAN.

[2018-03-30 16:06] terrytangyuan commented on #534
Sounds good

[2018-03-30 18:11] ledell commented on #534
Sounds fine to me.  It doesn't take too long since we don't run any tests.

[2018-03-30 18:14] #510 closed

[2018-03-30 18:27] ledell commented on #533
@navdeep-G  Agree. I think we can write our own Stacked Ensemble API/estimator, based on how we end up enabling CV in H2O4GPU.  Later on if scikit-learn has their own SE estimator we can expose that as well if it adds additional value (e.g. multilayer stacks).

[2018-03-30 19:06] jtelleriar opened #535 "h2o4gpu Deep Learning Algorithm"
Are there any plans to support Deep Learning on h2o4gpu? Just as the original h2o package does?

Now that the "H2O.ai Deep Water Project" seems to have been discontinued this would be a very welcome feature.

[2018-03-30 19:10] navdeep-G commented on #535
Hi @jtelleriar

There is no plan at the moment. What ideas did you have in mind?

[2018-03-30 19:17] jtelleriar commented on #535
Is there any "Deep Water" (https://github.com/h2oai/deepwater) code that could be re-used for h2o4gpu? Or even port the code from MXNet, Tensorflow, or the backends that "Deep Water" uses to h2o4gpu itself?

[2018-03-30 21:05] mdymczyk commented on #535
@jtelleriar deepwater was just a frontend for TF and MXNet, for now we don't plan on implementing anything DL related as there are already good frameworks for that.

[2018-03-30 21:05] #535 closed

[2018-04-01 05:49] EDUARDO78 commented on #517
+11111111111111111111111111111111111

[2018-04-01 18:32] mdymczyk commented on #517
Guess it will be my next task after I merge in CMake and SWIG.

[2018-04-02 17:17] terrytangyuan commented on #525
Update: support for sparse matrices has been added in reticulate. I'll start working on this issue soon.

[2018-04-02 21:26] navdeep-G commented on #514
@ledell py datatable is pure CPU as of today.

[2018-04-06 12:09] #525 closed

[2018-04-06 12:11] terrytangyuan commented on #525
@szilard I've added support for this. Could you give it a try?

[2018-04-07 05:23] mdymczyk opened #539 "SWIG Java bindings"
Add Java wrappers using SWIG.

[2018-04-09 20:07] pseudotensor commented on #32
I don't see why this was closed.

[2018-04-09 20:08] pseudotensor commented on #32
We still manage xgboost and just because xgboost related doesn't mean we don't have work to do.

[2018-04-09 20:14] navdeep-G commented on #32
Sure, sounds good. Sorry for the premature closing of the issue.

[2018-04-11 00:34] navdeep-G opened #545 "Add whiten parameter to PCA"

[2018-04-11 00:56] #463 closed

[2018-04-11 19:53] szilard commented on #525
I reinstalled the reticulate and h2o4gpu R packages but I still get:
[code]

[2018-04-11 19:56] terrytangyuan commented on #525
@szilard Try restarting your R/RStudio session?

[2018-04-11 20:46] szilard commented on #525
I'm just using R from the terminal. Do I need to reinstall the python part?

[2018-04-11 20:57] szilard commented on #525
Ah, the latest h2o4gpu from github installs reticulate from CRAN:
[code]

I reinstalled reticulate manually from GitHub, now it works :)

[2018-04-11 21:10] szilard commented on #525
Cool, it runs now much faster. With sparse matrices:

h2o4gpu from R: 15 sec
h2o4gpu from python: 12 sec
xgboost: 8 sec

My guess is that h2o4gpu R calls h2o4gpu python which in turn calls xgboost, right? It seems there is some overhead with wrapping (probably copying stuff or CPU/GPU transfer issues). Anyway, it's probably good enough. Maybe I can try to run it also on larger data to see if the o

[2018-04-11 21:51] szilard commented on #525
For 10M records:

h2o4gpu R: 88 s
h2o4gpu py: 66 s
xgb R: 26 s
xgb py: 26 s

I can see that h2o4gpu (both R and py) spends a good while doing something on the CPU (on 1 core only) before the GPU getting busy. Any idea what's that overhead? xgboost doesn't show this behavior, it starts almost right away using the GPU.

Code:
h2o4gpu R: https://github.com/szilard/GBM-perf/blob/master/wip-testing/h2o

[2018-04-11 21:53] pseudotensor commented on #525
Thanks.  It's probably extra copies of the data like you mentioned.  Should be a simple matter to cleanup such things.   We'll get to work on it.

[2018-04-11 21:55] szilard commented on #525
Cool @pseudotensor , let me know if updated, so I can re-run it.

[2018-04-11 22:01] szilard opened #549 "h2o4gpu GBM slower than xgboost"
OS platform: Linux Ubuntu 16.04
Installed from (source or binary): Python wheel + R package
Version: 0.2-nccl-cuda9/h2o4gpu-0.2.0-cp36-cp36m-linux_x86_64.whl
Python version (optional): 3.6
CUDA/cuDNN version: 9.0
GPU model (optional): EC2 p3.2xlarge (Tesla V100)
CPU model: Intel(R) Xeon(R) CPU E5-2686 v4 @ 2.30GHz
RAM available: 60GB
Train on airline data, 1M records
GBM n_estimators = 100L, max_d

[2018-04-11 22:02] szilard commented on #525
Since sparse matrices have been implemented and this issue is already closed, I moved the remaining performance problem into a new GitHub issue https://github.com/h2oai/h2o4gpu/issues/549

[2018-04-11 22:14] pseudotensor opened #550 "First time with latest cmake build and doing "make fullinstall" and I hit this error."
[code]

I don't have to specify this with xgboost, but I've seen xgboost complain about this sometimes.  I shouldn't have to specify this if exists in the "standard" location of /usr/local/cuda  or even better the standard export of CUDA_HOME.

[2018-04-11 22:26] pseudotensor commented on #550
Ok, it was xgboost and it was because I had previously upgraded to 9.1 and that deleted stuff from /usr/local/cuda9.0 *and* it made a new directory /usr/local/cuda9.1 with link to /usr/local/cuda.  Not sure why it deleted stuff, seems pointless.  I restored cuda9.0 and ok now.

[2018-04-11 22:26] #550 closed

[2018-04-11 23:34] #545 closed

[2018-04-11 23:36] navdeep-G opened #552 "Add CUDA version of whiten parameter to PCA"

[2018-04-12 01:31] terrytangyuan commented on #525
Great. Thanks!

[2018-04-13 01:32] mdymczyk commented on #154
Closing in favor of #355 and the windows issue.

[2018-04-13 01:32] #154 closed

[2018-04-13 01:34] navdeep-G commented on #70
Not needed at the moment.Tests seem to cover a variety of things.

[2018-04-13 01:34] #70 closed

[2018-04-13 01:34] navdeep-G commented on #67
Will need more details in regard to this. Can move to 0.2.2 for now.

[2018-04-13 01:52] #431 closed

[2018-04-13 02:11] navdeep-G opened #556 "Clean up stage names in Jenkinsfiles"
* Clearly state what each stage is doing to avoid confusion.
* This change should be purely cosmetic.

[2018-04-13 02:13] navdeep-G opened #557 "Add CUDA unit tests for tsvd"
* Will help testing/debugging

[2018-04-13 02:13] navdeep-G opened #558 "Add CUDA unit tests for PCA"
* Will help testing/debugging

[2018-04-14 00:56] #552 closed

[2018-04-16 14:25] terrytangyuan opened #560 "Save the version number for the reticulate package used to generate the wrappers"
Save the version number for the reticulate package used to generate the wrappers in the generated wrappers file so it's easy to debug issues as well as making sure the generated wrappers are reproducible.

[2018-04-16 14:49] terrytangyuan commented on #530
Currently the s3 URLs for the releases do not look like what I expected, e.g. some questions I had in Slack channel:
- Why is there `0.2-nonccl` when this is for `0.2.0.9999` - `"https://s3.amazonaws.com/h2o-release/h2o4gpu/releases/bleeding-edge/ai/h2o/h2o4gpu/0.2-nonccl-cuda8/h2o4gpu-0.2.0.9999-cp36-cp36m-linux_x86_64.whl"` (edited)

- Should `0.2-nccl-cuda9` in `https://s3.amazonaws.com/h2o-rel

[2018-04-16 18:09] jtelleria commented on #530
h2o4gpu shall follow, in my opinion, the "K.I.S.S." Principle ("Keep it simple, stupid") in order to reach a wide audience and be a success within the R Community.

Therefore, I would:
* Include these reticulate convenience functions (py_install, use_virtualenv, etc) into the h2o4gpu package NAMESPACE, so that R users only have to take care of h2o4gpu, and not reticulate.
* Include a function in h

[2018-04-16 18:24] terrytangyuan commented on #530
@jtelleria Yes, we currently reexported those methods, except for `py_install` since we just added that in reticulate very recently.

Good points indeed. I think we'll have to wait until those S3 URLs are fixed or until we publish our wheels to PyPI (cc: @mdymczyk). Thanks!

[2018-04-16 18:27] terrytangyuan commented on #556
Main problem with the current CI is that the stages are not very clear. It would be good if the R tests are in a separate stage so it’s easier to check the logs

[2018-04-16 20:26] #534 closed

[2018-04-16 21:01] navdeep-G opened #563 "Add power method for PCA"

[2018-04-16 21:08] #557 closed

[2018-04-16 21:08] #558 closed

[2018-04-16 21:09] navdeep-G commented on #558
Better to test vs python for now as we want to compare to sklearn.

[2018-04-16 21:09] navdeep-G commented on #557
Better to test vs python for now as we want to compare to sklearn.

[2018-04-17 14:13] #560 closed

[2018-04-17 18:44] navdeep-G commented on #556
@mdymczyk I think a change like this can be done once we reduce the # of Jenkinsfile's in the repo

[2018-04-19 14:17] terrytangyuan opened #565 "MOJO/POJO/deployment support"
I am thinking about including h2ogpu in this CRAN task view: https://CRAN.R-project.org/view=ModelDeployment
It seems like we don't have MOJO/POJO support yet. Maybe this is part of the Java wrapper?

Note that this issue is focused on Java deployments. Python/R checkpointing is tracked in another issue instead https://github.com/h2oai/h2o4gpu/issues/443

[2018-04-19 22:58] #513 closed

[2018-04-20 08:57] mdymczyk opened #568 "Fail build on incorrect SWIG mappings"
Currently we only get `mapping couldn't be applied` message when an incorrect mapping is used in an interface file. This usually isn't something we can ignore and should fail the build on each such warning.

[2018-04-20 17:44] pseudotensor commented on #426
Also sometimes hangs.  Fixed by https://github.com/h2oai/h2o4gpu/commit/b98d3c8dab16b2e5c2c045e81bca14d8cce5c7d6

[2018-04-20 17:44] #426 closed

[2018-04-23 10:06] mdymczyk opened #573 "XGBoost (and potentially h2o4gpu) hanging on PPC64"
GPU XGBoost is hanging on power (ppc64le) machines for some reason. CPU code works fine, only GPU part hangs in different places depending on what is being ran, gcc version etc.

To reproduce:

1) get a Power machine (Nimbix's `CentOS 7 + CUDA9 for ppc64le` will do, use the cheapest K80 instance)
2) `sudo yum install -y make cmake3 git vim`
2a) on some systems (without gcc/developer tools suite in

[2018-04-23 14:04] mdymczyk commented on #573
Looks like Nimbix comes with CUDA 9.1, trying to downgrade to 9.0 with `yum install -y cuda-9-0` and see if that's the cause.

[2018-04-23 21:40] mdymczyk commented on #573
Scripts making google test setup and testing a bit easier: https://github.com/RAMitchell/xgboost-build-helper/tree/master/ubuntu

[2018-04-23 23:24] mdymczyk commented on #573
Might need to remove in `xgboost/src/tree/tree_updater.cc` this line `DMLC_REGISTRY_LINK_TAG(updater_gpu_hist2);`

[2018-04-24 21:16] mmalohlava opened #577 "GitHub cannot infer project license"
Based on feedback from @st-pasha:

It seems like the GitHub has problem to figure out right license of the project. There is no license in project header:

![image](https://user-images.githubusercontent.com/597582/39214274-c3b0968c-47c8-11e8-8e66-eb2765828477.png)

You can compare it with https://github.com/h2oai/h2o-3 project header:
![image](https://user-images.githubusercontent.com/597582/39214

[2018-04-24 22:02] mdymczyk commented on #577
@mmalohlava any idea why GitHub is not recognizing it? I compared H2O-3's license file with H2O4GPU's file and it looked almost the same (sans copyright year). Might it be our `LICENSES` folder?

[2018-04-24 22:34] #444 closed

[2018-04-25 00:11] #577 closed

[2018-04-25 17:17] navdeep-G commented on #514
Researching more and I think sklearn's capabilities achieve what is needed and most users of Python machine learning libraries will know how to use these methods.

[2018-04-25 17:17] #514 closed

[2018-04-26 01:44] navdeep-G commented on #493
This is due to the `n_estimators` being 10 in the random forest impl. It will be better to set it ot 100 by default, which matches the gbm impl. Setting to `n_estimators` to 100 gives a MSE of 15.27114 instead of 25168.17

[2018-04-26 12:48] mdymczyk commented on #568
Fixed in #580

[2018-04-26 12:48] #568 closed

[2018-04-26 12:49] mdymczyk commented on #573
Turns out was a kernel issue on Nimbix, ppc64le works fine.

[2018-04-26 12:49] #573 closed

[2018-04-26 16:43] #336 closed

[2018-04-26 16:43] #493 closed

[2018-04-26 17:25] navdeep-G opened #584 "Update docstrings for all GLM wrappers in Python API"
* Need to update docstrings for GLM wrappers in `logistic.py`, `ridge.py`, `lasso.py`, and `linear_regression.py`

[2018-04-26 19:00] #584 closed

[2018-04-27 02:24] chansinhui commented on #517
+1

[2018-04-27 16:05] pseudotensor opened #587 "Avoid missing library messages if detect no GPUs at all (e.g. via system call to nvidia-smi that is more basic that cuda toolkit calls)"
![image](https://user-images.githubusercontent.com/2249614/39372716-08e0ead0-49fa-11e8-8d65-6bbae684d3d0.png)

[2018-04-28 00:01] jtelleriar commented on #517
+1 Why? In the Multinational Company I work (Siemens Gamesa Renewable Energies) group policy dictates that by default only Windows Systems can be used.

So I, as an Analyst, I can only use Windows (Not even Linux Virtual Machine); maybe Information Systems Administrators could set up a Linux Environment for us, but we would need appropriate security permissions, etc. etc.

[2018-04-30 23:36] mdymczyk commented on #556
Closing in favor of #564

[2018-04-30 23:41] mdymczyk commented on #456
Closing in favor of #564

[2018-04-30 23:47] #511 closed

[2018-04-30 23:50] mdymczyk commented on #453
Closing in favor of #564

[2018-04-30 23:57] mdymczyk commented on #516
Still to do: a way to get build date in R and Python

[2018-05-02 15:30] navdeep-G opened #589 "Add function to find optimal k/n_components for TSVD/PCA"

[2018-05-03 04:01] mdymczyk commented on #589
Do you mean to find the optimal `k`?

[2018-05-03 04:04] navdeep-G commented on #589
Yes, same concept applies to PCA components.

[2018-05-03 04:15] navdeep-G commented on #589
I think initially this can be done in Python. Thoughts?

[2018-05-04 14:48] mdymczyk opened #591 "Tests for model (un)pickle"
We should add tests for saving and loading pickled models (something like what we already have for XGBoost) for all algorithms (pogs based, kmeans, tsvd, pca) to see if we can actually save and load all our models.

[2018-05-04 16:56] pseudotensor commented on #591
We don't for gpu kmeans and gpu svd.  xgboost has a special hook so it copies over (in C) any references in python.  We can do the same.

[2018-05-05 06:52] pseudotensor opened #593 "fix cuda detection"
When I relink /usr/local/cuda-8.0 -> /usr/local/cuda and do make build, I get the below.  My check correctly says it's cuda8, but CMake says cuda9.0 is detected.  I think I mentioned this already before.  I have to manually fix things.  How does the normal build work on jenkins that doesn't have this problem?

[code]

[2018-05-05 06:56] pseudotensor commented on #593
Is it because CMake is using my driver version to get some info?  That wouldn't be good, because one can have very high driver version but low cuda version and that's ok.

[2018-05-05 07:04] mdymczyk commented on #593
Tested this on `dl14`:

[code]

Then changed to 9:

[code]

Do you have any CUDA related env variables set?

For docker this is a non issue since each docker has only 1 CUDA installed.

CMake also cannot get if from the driver, some machines we run this on don't have drivers (ppc ones).

[2018-05-05 17:27] #589 closed

[2018-05-06 22:44] mdymczyk commented on #591
@pseudotensor do we really need that, though? At least for KMeans the only thing we need are the centroids, which we have in Python as a numpy array so we could just pickle and unpickle that. After unpickling we can just pass it (as we do now) to the C backend, no?

[2018-05-06 22:57] mdymczyk commented on #591
For example seems to work out of the box for KMeans (verbose logs to show it's running on GPUs):

[code]

[2018-05-06 23:00] pseudotensor commented on #591
Yes, should be easy (or already true) that for kmeans easy as only thing fit does is find centroids.

[2018-05-06 23:03] mdymczyk commented on #591
@pseudotensor yes, thought it would work out of the box for all our models since we copy all the necessary data from C to Python, but @wenphan noticed that for POGS based models it was having problems pickling. From the log it had to do something with . CDLL and/or ctypes so maybe for POGS we need to do some more work but hopefully kmeans and svd are already good.

[2018-05-06 23:08] pseudotensor commented on #591
We should move forward on dropping pogs anyways.  I have a gblinear wrapper we can use as base line that does lambda search with warm start.  We can use the rest of the CV fold stuff but do it in python instead of C.  Probably easiest.

[2018-05-06 23:10] mdymczyk commented on #591
@pseudotensor yes once @RAMitchell impl is stable enough I'm 100% for removing POGS altogether from the codebase.

[2018-05-06 23:31] mdymczyk commented on #224
I had a lot of downtime while rewriting the build system and waiting for all the builds so I started implementing this on the side (as all our Kagglers said this is the only alg they're missing and there's literally no decent lib for it in Python yet).

Basing my impl heavily on:

* https://arxiv.org/pdf/1701.04099.pdf
* https://www.csie.ntu.edu.tw/~cjlin/papers/ffm.pdf

* https://github.com/guest

[2018-05-09 05:51] mirekphd opened #601 "Enable bleeding edge users to pin a particular historical commit (0.2.0.9999+master.42cf30e does not work)"
------------------------

### Environment

Operating system:
#119-Ubuntu SMP Tue Sep 12 14:59:54 UTC 2017
Linux-4.4.0-96-generic-x86_64-with-debian-stretch-sid
CUDA Version: 8.0.61
CuDNN version: 6.0.21

Python version: 3.6.4 |Anaconda, Inc.| (default, Jan 16 2018, 18:10:19)  [GCC 7.2.0]
Python version used by this container:
Python 3.6.4 :: Anaconda, Inc.
Conda version:
conda 4.5.3
Pip version:
p

[2018-05-09 06:54] mdymczyk commented on #601
Yes, that's the whole idea behind bleeding edge builds. But I see your point, will try to push also whls with git hash in name so people can download.

[2018-05-09 11:49] mirekphd commented on #601
Great to hear that build (commit) pinning will be available since ver. 0.2.2!

Regarding the problem with build 0.2.0.9999+master.42cf30e - I think this bug is an interaction of H2OGPU with Caffe's dependencies from Anaconda - try a conda install of Caffe-GPU and you should be able to reproduce it with any version of H24GPU:

[code]

In my case I confirm that removing this Caffe installation and (

[2018-05-09 14:14] terrytangyuan opened #602 "Host R package documentation"
We now have R package documentation here: https://github.com/h2oai/h2o4gpu/tree/master/src/interface_r/docs

@angela0xdata Could you help us host it in a similar way to what's done for h2o-3 R API docs? Or tag anyone who's able to help with this.

cc: @ledell @navdeep-G

[2018-05-09 15:15] nickjohnsonhill commented on #517
+1

[2018-05-09 21:35] angela0xdata commented on #602
Everything looks good locally. I'll work with Anmol to get these docs included in the build.

[2018-05-09 21:53] terrytangyuan commented on #602
Thanks!

[2018-05-10 23:06] abal5 commented on #602
I'll put this into a Jenkinsfile stage so we can get it building.

[2018-05-13 14:35] mirekphd opened #605 "Numpy/scipy requirements are too strict (not upgrade resistant)"
### Environment (for bugs)

- **OS platform, distribution and version (e.g. Linux Ubuntu 16.04)**:
Linux-4.4.0-96-generic-x86_64-with-debian-stretch-sid
- **Installed from (source or binary)**:
binary (/bleeding-edge/ai/h2o/h2o4gpu/0.2-nccl-cuda8/h2o4gpu-0.2.0.9999-cp36-cp36m-linux_x86_64.whl
- **H2O4GPU Version**:
h2o4gpu 0.2.0.9999+master.038c69c
- **Python version (optional)**:
Python version:

[2018-05-13 18:36] Sandy4321 opened #606 "xgboost is old version 0.60 or new one 0.71?"
may you help understand where it is written what versions of software from other company you using, for example, xgboost is old version 0.60 or new one 0.71

Please do not use issues to ask questions. For questions use either [StackOverflow](https://stackoverflow.com/questions/tagged/h2o4gpu) (`h2o4gpu` tag) or [Gitter](https://gitter.im/h2oai/h2o4gpu?utm_source=share-link&utm_medium=link&utm_camp

[2018-05-14 00:40] mdymczyk commented on #606
For XGboost we have our own fork, which we try to keep as up-to-date with the original master as possible. You can find it here: https://github.com/h2oai/xgboost/tree/h2oai Currently our stable version has version 0.6, bleeding edge 0.71. The creator of the XGBoost GPU plugin is working at H2O (Rory) and our own fork has some additional bugfixes/features (not yet documented, though).

You can chec

[2018-05-14 00:40] #606 closed

[2018-05-14 03:52] thirdwing opened #607 "G++ 6.4 compilation failing"
Please do not use issues to ask questions. For questions use either [StackOverflow](https://stackoverflow.com/questions/tagged/h2o4gpu) (`h2o4gpu` tag) or [Gitter](https://gitter.im/h2oai/h2o4gpu?utm_source=share-link&utm_medium=link&utm_campaign=share-link).

GitHub issues are used for:

* Bug reporting.
* Feature/enhancement requests and discussion.

Before submitting a new issue please make sur

[2018-05-17 16:48] Sandy4321 commented on #606
sorry I can not understand your answer
1
I use windows
but xgboost cannot be installed on windows for new version 0.7
 it is the reason why I want to use h2o
2
from your link
bleeding edge 0.71
, it is not clear how to install this  bleeding edge 0.71 based on h2o
3
may you give a clear answer
what is link how to install h2o on windows to have xgboost bleeding edge 0.71

[2018-05-17 20:03] Erikpinter commented on #517
+1

[2018-05-18 06:00] mdymczyk commented on #468
Sorry @brycelelbach forgot to update this issue, looks like CUDA 9.1 compilation has been working fine for a few weeks now after we redid our build process with CMake. We'll try to get our hands on CUDA 9.2 asap to see if that one will also work out of the box.

[2018-05-18 06:00] #468 closed

[2018-05-18 06:02] mdymczyk commented on #607
Hey @thirdwing thanks for the input. Actually I tried compiling against CUDA 9.1 and it seems our rewrite to CMake fixed the issues and you can now compile against 9.1 without problems. We'll probably start publishing whls for 9.1 soonish.

As for gcc/g++ 6.x I tried it and seems to be failing, but not in nvcc because of std=c++1 but because of some code in our GLM implementation, so I'll rename t

[2018-05-19 14:27] mirekphd commented on #607
FYI, your have missed an entire subversion of CUDA, as there is already next one out, CUDA 9.2, stable on Ubuntu 16.04 and experimental on 18.04.

[2018-05-21 05:02] mdymczyk commented on #607
@mirekphd yes we are aware of this, CUDA 9.1 had some backwards compatibility which we decided not to investigate as 9.2 was supposed to get released soon. Now it seems 9.1 to be working (i redid the build system, probably thats why) and I'll have a look at 9.2 this week.

[2018-05-21 05:02] mdymczyk commented on #607
@thirdwing thanks, will try it out!

[2018-05-22 15:13] Sandy4321 commented on #606
bleeding edge 0.71.
looks good, how can I install H2O with bleeding edge 0.71. on windows computer

[2018-05-22 15:36] dockstreet opened #612 "Redhat linux compatiblity"
Hi,

Can Red Hat Linux support be added besides Ubuntu? Or will it work currently without modification as long as CUDA 9.0 is installed.

Am I mistaken or is CentOS supported already? I do see a docker file. Could that be leveraged or is that something else? From my understanding RHEL is fairly compatible with CentOS.

[2018-05-22 15:49] obkhan commented on #517
+1

[2018-05-22 17:26] mdymczyk commented on #612
@dockstreet the wheels we currently publish will only work with *nix systems with glibc 2.23+, which is hard to come by on rhel/centos, so they won't work there. You can build the project yourself on a centos machine or on any other using our centos docker, though.

We have a PR ready where we build all our whls on centos which should help but it will take some time before we merge it in https://g

[2018-05-22 17:26] #612 closed

[2018-05-23 21:08] navdeep-G opened #615 "Update license headers"
* A lot of the license headers still say":
[code]
or something similar.
* These should be updated to:
[code]
* This change has already been applied to the Python API here: https://github.com/h2oai/h2o4gpu/pull/614

[2018-05-23 21:58] #344 closed

[2018-05-25 03:38] Hartsord commented on #517
+1

[2018-05-31 09:20] #355 closed

[2018-05-31 11:13] teju85 opened #621 "kmeans python iris test fails for multi-GPU."
### Environment (for bugs)

- **OS platform, distribution and version (e.g. Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **Installed from (source or binary)**: source
- **Version**: @commitID abe45eeb717d5ab4fee2f5b1386c82c93f14ab33
- **Python version (optional)**: 3.5
- **CUDA/cuDNN version**: cuda v9.0, cudnn v7.1, driver v384.125
- **GPU model (optional)**: Tesla V100 (from DGX1-Volta)
- **CPU m

[2018-06-01 02:12] pseudotensor commented on #621
Thanks.  @mdymczyk do you have any ideas?  We obviously run this test ourselves, but for 2 GPU systems on jenkins.  Do you expect this test to actually pass (i.e. 1 GPU agree with 4 GPUs)?

[2018-06-01 02:31] mdymczyk commented on #621
@pseudotensor not sure yet, it should pass on any number of GPUs but maybe there's a bug somewhere - need to look into it with a profiler.

[2018-06-04 00:28] gitclem opened #623 "Wheel file names should indicate which CUDA version they depend on"
### Environment (for bugs)

- **OS platform:** Linux Ubuntu 16.04
- **Installed** from wheel binary
- **Version**:   h2o4gpu-0.2.0-cp36-cp36m-linux_x86_64.whl
- **Python version (optional)**: 3.6.0
- **CUDA/cuDNN version**: CUDA 8
- **GPU model (optional)**: 1080
- **CPU model**: Intel(R) Core(TM) i7-7700 CPU @ 3.60GHz
- **RAM available**: 63GB CPU, 8G GPU

### Description
I downloaded the wrong w

[2018-06-04 01:15] mdymczyk commented on #623
@gitclem thanks! Totally agree, will try to add this asap. We probably will need this for uploads to PyPI anyway.

[2018-06-06 06:53] chrinide commented on #517
+1

[2018-06-06 10:27] teju85 commented on #35
@mdymczyk @arnocandel @pseudotensor @IzuiT
We currently have a single GPU version of linear KF implemented by one of our interns.
He has closely followed filterpy's APIs to implement this, but currently in C++.

Do you guys have any more inputs for us on KF, that can help us further concentrate our efforts?

[2018-06-06 21:54] pseudotensor opened #624 "make wheel with all deps for offline install"
https://medium.com/@amimahloof/how-to-package-a-python-project-with-all-of-its-dependencies-for-offline-install-7eb240b27418

[2018-06-12 01:53] vhcg77 commented on #517
+1

[2018-06-13 06:30] ansh1012 opened #625 "Prediction running on CPU instead of GPU"
Configuration--->
- **OS platform, distribution and version (e.g. Linux Ubuntu 16.04)**: Linux 4.4.0-109-generic x86_64
x86_64 GNU/Linux
- **Installed from (source or binary)**: Binary(using PIP)
- **Version**: 0.2.0
- **Python version (optional)**: 3.6
- **CUDA/cuDNN version**: CUDA 8.0

Problem--->

When i am training the model , then it is running fine on GPU (checked through nvidia-smi) and wh

[2018-06-13 06:36] pseudotensor commented on #625
Hi.  This is a known problem with xgboost itself.  See issue: https://github.com/dmlc/xgboost/issues/3342

What you can do is re-assign the booster's values during prediction, like:

[code]

you should set the missing variables for your own system.

[2018-06-13 07:18] ansh1012 commented on #625
As in the model parameters , predictor is already set to gpu_predictor and I am loading the model in the same node it has been trained on .
What I am able to understand from this code is that it is setting the predictor param to gpu_predictor or cpu_predictor based on the config. of this node.
Maybe I am wrong !!

[2018-06-13 07:21] pseudotensor commented on #625
Yes, what I said above is that loading from a pickled state loses the the information in the booster.  dmlc don't properly pickle the state.

[2018-06-13 08:46] ansh1012 commented on #625
Thanks a lot !
It worked :) 👍

[2018-06-13 08:49] pseudotensor commented on #625
Great!

[2018-06-13 08:49] #625 closed

[2018-06-20 22:00] mdymczyk opened #628 "JIT forward compatibility"
Our CMake should mimic XGBoost's improvements https://github.com/dmlc/xgboost/pull/3316 so CUDA8 builds can work on new cards/drivers (even if not compiled with sm70).

[2018-06-21 13:15] Pscheidl commented on #628
Being solved in https://github.com/h2oai/xgboost/pull/45 ?

[2018-06-22 00:39] mdymczyk commented on #628
@Pscheidl that's only for XGBoost. XGBoost and 4gpu have separate CMakeLists files so we'll have to duplicate that solution in 4gpu's CMakeList also (or just use XGBoost's CMake methods but still our CmakeLists needs an update).

[2018-06-23 01:55] mdymczyk opened #630 "KMeans data quantization demo fails"
The h2o4gpu subset part of the demo is failing, on a 2 GPU machine (dl14) the colors are way off and the whole image is divided into 4 parts which are scrambled. In 1GPU mode only the colors are way off. It works on the full dataset.